---
import { mainSponsorsWhite } from "@data/sponsors";
---

<section>
  <div class="image-container">
    <img src="hero-image.avif" />
  </div>

  <div class="hero-info">

  </div>
  <div class="sponsors-flex-container">
    <p>Patrocinadors principals</p>
    <nav>
      <ul class="hero-sponsors-container">
        {
          mainSponsorsWhite.map((sponsor) => (
            <li>
              <a href={sponsor.link} target="_blank" rel="noopener noreferrer">
                <img src={sponsor.logo} alt={sponsor.alt} />
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</section>

<style>
  section {
    position: relative;
    margin-top: calc(
      (var(--bottom-header-hg) + var(--header-separator-line-hg)) * -1
    );
  }
  .hero-info {
    position: absolute;
    background-color: black;
    left: 0;
    right: 50.7rem;
    bottom: 0;
    top: var(--bottom-header-hg);
    opacity: 0.65;
    mix-blend-mode: multiply;
  }
  .sponsors-flex-container {
    position: absolute;
    left: 0rem;
    right: 0rem;
    bottom: 6rem;
    height: 7.875rem;
    background-color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.05rem;
  }

  p {
    height: 60%;
    padding-right: 3.05rem;
    display: flex;
    align-items: center;
    border-right: 1px solid white;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 3.05rem;
  }
</style>
