---
import HomePageSectionLayout from "@layouts/HomePageSectionLayout.astro";

import NewsDesktop from "@components/homePage/news/NewsDesktop.svelte";
import Slider from "@components/Slider.svelte";

import { isLastYearNews } from "@utils/helperFunctions";
import { featuredNews, news
 } from "@data/apiData";

news.splice(10);

let lastYearNews = news.filter((oneNews) => isLastYearNews(oneNews.date));


let newsForSlider;

if (featuredNews.length > 0) {
  newsForSlider = [featuredNews[0], ...lastYearNews];
} else newsForSlider = lastYearNews;

export { featuredNews };
---

<HomePageSectionLayout
  sectionTitle="Notícies CBG"
  textColor={`var(--clr-primary)`}
  backgroundColor={`var(--clr-contrast)`}
>
  <div data-news={news} class="news-desktop">
    <NewsDesktop
      client:visible
      featuredNews={featuredNews[0] ? featuredNews[0] : lastYearNews[0]}
      news={lastYearNews}
    />
  </div>

  <div class="g-slider-container">
    <Slider
      client:visible
      sliderItems={newsForSlider}
      childComponent="NewsItem"
      itemWidth={312}
      gap={`1rem`}
    />
  </div>
</HomePageSectionLayout>

<style>
  .g-slider-container {
    display: none;
  }

  @media (width < 1068px) {
    .news-desktop {
      display: none;
    }
    .g-slider-container {
      display: block;
    }
  }

  @media (width < 1025px) {
    .g-slider-container {
      padding-bottom: var(--padding-section-medium);
    }
  }

  @media (width < 648px) {
    .g-slider-container {
      padding-bottom: var(--padding-section-small);
    }
  }
</style>
