---
import NewsDesktop from "@components/homePage/news/NewsDesktop.svelte";
import HomePageSectionLayout from "@layouts/HomePageSectionLayout.astro";
import Slider from "@components/Slider.svelte";

const { posts } = Astro.props;
const title = "CBG Notícies";
---

<HomePageSectionLayout
  sectionTitle="CBG Notícies"
  textColor={`var(--clr-primary)`}
  backgroundColor={`var(--clr-contrast)`}
>
  <div class="news-desktop">
    <NewsDesktop client:visible {posts} />
  </div>

  <div class="g-slider-container">
    <Slider
      client:visible
      sliderItems={posts}
      childComponent="NewsItem"
      itemWidth={312}
      gap={`1rem`}
    />
  </div>
</HomePageSectionLayout>

<style>
  .g-slider-container {
    display: none;
  }

 

  @media (width < 1068px) {
    .news-desktop {
      display: none;
    }
    .g-slider-container {
      display: block;
    }
  }

  @media (width < 1025px) {
    .g-slider-container {
      padding-bottom: var(--padding-section-medium);
    }
  }

  @media (width < 648px) {
    .g-slider-container {
      padding-bottom: var(--padding-section-small);
    }
  }
</style>
