---
import HpSectionLayout from "@layouts/HpSectionLayout.astro";

import NewsDesktop from "@components/homePage/news/NewsDesktop.svelte";
import Slider from "@components/Slider.svelte";

import { lastYearsNews } from "@utils/helperFunctions";
import { allNews } from "@data/apiData";
import { FEATURED_NEWS_CATEGORY_ID } from "@data/globalConstants";

const { title } = Astro.props;

allNews.splice(10);

let lastYearNews = allNews.filter((oneNews) => lastYearsNews(oneNews.date));

const featuredNews = [
  lastYearNews.find((oneNews) =>
    oneNews.categories.includes(FEATURED_NEWS_CATEGORY_ID),
  ),
];

let newsToRender = lastYearNews.filter(
  (oneNews) => !oneNews.categories.includes(FEATURED_NEWS_CATEGORY_ID),
);

if (featuredNews && featuredNews.length > 0) {
  newsToRender = [featuredNews[0]!, ...newsToRender];
}
---

<HpSectionLayout
  sectionTitle={title}
  color={`var(--clr-primary)`}
  bgColor={`var(--clr-contrast)`}
  isSliderSection={true}
>
  <div class="news-desktop">
    <NewsDesktop client:visible news={newsToRender} />
  </div>

  <div class="g-slider-container">
    <Slider
      client:visible
      sliderItems={newsToRender}
      childComponent="NewsItem"
      itemWidth={312}
      gap={`1rem`}
    />
  </div>
</HpSectionLayout>

<style>
  .g-slider-container {
    display: none;
  }

  .news-desktop {
    padding-right: var(--pd-x);
  }

  @media (max-width: 1068px) {
    .news-desktop {
      display: none;
    }
    .g-slider-container {
      display: block;
    }
  }
</style>
