---
import NewsDesktop from "@components/homePage/news/NewsDesktop.svelte";
import Slider from "@components/Slider.svelte";

const { posts } = Astro.props;
const title = "CBG Notícies";
---

<section class="g-page-section-with-slider-container">
  <h2>CBG Notícies</h2>

  <div class="desktop">
    <NewsDesktop client:visible {posts} />
  </div>

  <div class="g-slider-container">
    <Slider
      client:visible
      sliderItems={posts}
      childComponent="NewsItem"
      itemWidth={312}
      gap={`1rem`}
    />
  </div>
</section>

<style>
  .g-slider-container {
    display: none;
  }

  .g-page-section-with-slider-container {
    background-color: var(--clr-contrast);
    color: var(--clr-primary);
  }

  h2 {
    padding-bottom: 2rem;
  }

  @media (width < 1025px) {
    .g-slider-container {
      display: block;
    }

    .desktop {
      display: none;
    }

    @media (width < 648px) {
      .g-slider-container {
        display: block;
      }
      .desktop {
        display: none;
      }
    }
  }
</style>
