---
import MobileCarousel from "./MobileCarousel.svelte";
import { projects } from "@data/projects.ts";
---

<h3>Projectes</h3>

<div class="desktop">
  <div class="projects-container">
    {
      projects.map((project) => (
        <a href={project.link}>
          <img class="image" src={project.image} alt={project.alt} />
        </a>
      ))
    }
  </div>
</div>

<div class="mobile">
  <MobileCarousel client:visible {projects} />
</div>

<style>
  h3 {
    padding-inline: var(--padding-inline);
    padding-top: 2rem;
  }

  .projects-container {
    padding-inline: var(--padding-inline);
    padding-block: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-items: center;
    /* align-items: center; */
    gap: 0.8rem;
    /* place-content: center; */
  }

  .mobile {
    display: none;
  }
  @media (width < 1025px) {
    h3 {
      padding-inline: var(--padding-inline-tablet);
    }
    .projects-container {
      padding-inline: var(--padding-inline-tablet);
    }
  }

  @media (width < 648px) {
    h3 {
      padding-inline: var(--padding-inline-mobile);
    }
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
</style>
