---
import MobileCarousel from "./MobileCarousel.svelte";
import ProjectItem from "@components/projects/ProjectItem.svelte";
import Slider from "@components/Slider.svelte";
import { projects } from "@data/projects.ts";
---

<section class="g-page-section-with-slider-container">
  <h2>Projectes</h2>

  <div class="desktop">
    {
      projects.map((project) => (
        <a href={project.link}>
          <img class="image" src={project.image} alt={project.alt} />
        </a>
      ))
    }
  </div>

  <div class="g-slider-container">
    <Slider
      client:visible
      sliderItems={projects}
      childComponent={`ProjectItem`}
      itemWidth={331}
      gap={`1rem`}
    >
      <ProjectItem />
    </Slider>
  </div>
</section>

<style>
  .g-slider-container {
    display: none;
  }

  h2 {
    padding-bottom: 2rem;
  }

  /* .desktop {
    padding-inline: var(--padding-inline);
    padding-block: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-items: center;
    gap: 0.8rem;
  } */

 
  @media (width < 648px) {
    .g-slider-container {
      display: block;
    }
    .desktop {
      display: none;
    }
   
  }

  
</style>
