---
import ButtonAnchor from "@components/ButtonAnchor.astro";
import { fetchPostsInCategory } from "fetch-wordpress-api";
import HeroSwipe from "./HeroSwipe.svelte";
import {
  formatHTMLContent,
  extractSlideDescriptionAndLink,
} from "@utils/helperFunctions";
import HeroTimed from "./HeroTimed.svelte";
const slides = await fetchPostsInCategory(40);

const totalDots = Array(slides.length).fill(0);
---

<div class="desktop">
  <HeroTimed client:visible {slides} />
</div>
<div class="responsive">
  <HeroSwipe client:visible {slides} />
</div>

<style>
  .responsive {
    display: none;
  }
  h2 {
    font-size: 2.75rem;
    line-height: 3.25rem;
  }
  .hero-section {
    position: relative;
  }
  .slide {
    display: none;
    height: 100%;
  }

  .slide.active {
    display: block;
  }

  .carousel-dots {
    position: absolute;
    bottom: 2.5rem;
    left: 18.5rem;
    transform: translateX(-50%);
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .carousel-dot {
    width: 0.6875rem;
    height: 0.6875rem;
    border-radius: 50%;
    border: 1px solid var(--clr-accent);
    /* background-color: var(--color-white);
    cursor: pointer; */
  }

  .active-dot {
    background-color: var(--clr-accent);
  }
  section {
    position: relative;
    margin-top: calc(
      (var(--bottom-header-hg) + var(--header-separator-line-hg)) * -1
    );
    height: calc(100dvh - var(--top-header-hg));
    overflow: hidden;
  }

  img {
    height: inherit;
    width: 100%;
    object-fit: cover;
  }

  .hero-info-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    top: calc(var(--bottom-header-hg) + var(--header-separator-line-hg));
    left: 0;
    width: 37rem;
    bottom: 0rem;
    display: flex;
    padding-inline: var(--padding-inline);
    /* justify-content: center; */
    align-items: center;
  }

  .hero-info-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    text-wrap: balance;
  }

  @media (width < 1184px) {
    .hero-info-container {
      width: 50%;
    }

    .carousel-dots {
      left: 25%;
      transform: translateX(-50%);
    }
  }

  @media (width < 1025px) {
    .hero-info-container {
      padding-inline: var(--padding-inline-tablet);
    }

    h2 {
      font-size: 2.5rem;
      line-height: 2.8125rem;
    }
  }

  @media (width < 648px) {
    .desktop {
      display: none;
    }
    .responsive {
      display: block;
    }
    .hero-info-container {
      padding-inline: var(--padding-inline-mobile);
      width: 100%;
    }
    .carousel-dots {
      left: var(--padding-inline-mobile);
      transform: none;
    }
    section {
      height: 101svh;
    }
  }
</style>
