---
// Import types
// import { Endpoints, CategoryFields } from 'src/types';
// import type { Category, Post } from 'src/types';

// Import components
import PostCard from '@components/postCards/PostCard.astro';

// Import api functions from utils
import { fetchAllCategories, Endpoints, CategoryFields, Category, Post } from 'fetch-wordpress-api';

// Import utils functions
import { categoryMapper } from '@utils/helperFunctions';
import { categoryFields } from 'src/data/apiGlobalConsts';

const allCategories: Category[] = await fetchAllCategories(categoryFields)

const { posts } = Astro.props as { posts: Post[] };

---

<section>
  <div class='postCard-container'>
    {
      posts.map((post: Post) => (
        <>
          <PostCard
            {post}
            postCategories={ categoryMapper(allCategories, post.categories)}
          />
        </>
      ))
    }
  </div>
</section>

<style>
  div.postCard-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
    padding-bottom: 2rem;
  }
</style>

