---
// Import types
import { Endpoints, CategoryFields } from 'src/types';
import type { Category, Post } from 'src/types';

// Import components
import PostCard from '@components/postCards/PostCard.astro';

// Import api functions from utils
import { getFromAPI } from '@utils/api';

// Import utils functions
import { categoryMapper } from '@utils/helperFunctions';

const allCategories: Category[] = await getFromAPI(Endpoints.categories, [
  CategoryFields.id,
  CategoryFields.name,
  CategoryFields.slug,
]);

const { posts } = Astro.props as { posts: Post[] };
---

<section>
  <div class='postCard-container'>
    {
      posts.map((post: Post) => (
        <>
          <PostCard
            {post}
            postCategories={categoryMapper(allCategories, post.categories)}
          />
        </>
      ))
    }
  </div>
</section>

<style>
  div.postCard-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
    padding-bottom: 2rem;
  }
</style>

