---
import TeamItem from "@components/homePage/teams/TeamItem.astro";

import { fetchImagesInPageBySlug } from "fetch-wordpress-api";
// import { teams } from "@data/teamsSection.ts";

const teams = await fetchImagesInPageBySlug('equips1')


---

<section class="teams-section-container">
  <div class="g-section-container">
    <h2>Els equips del Club Bàsquet Granollers</h2>
    <div class="desktop-container">
      {teams.reverse().map((team) => <TeamItem {team}/>)}
    </div>
    <div class="responsive-container">
      {
        teams.map((team) => (
          <div>
            <TeamItem {team} />
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .g-section-container {
    padding-inline: 0rem !important;
  }
  .teams-section-container {
    padding-block: 2rem;
    padding-inline: var(--padding-inline);
  }
  .desktop-container {
    /* align-self: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  h2 {
    padding-bottom: 2rem;
  }

  .responsive-container {
    display: none;
  }

  @media (width < 1385px) {
    .desktop-container {
      display: none;
    }

    h2 {
      padding-inline: var(--padding-inline);
    }
    .teams-section-container {
      padding-inline: 0rem;
    }

    .responsive-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      gap: 1rem;
    }

    .responsive-container > :nth-child(1) {
      justify-self: end;
    }

    .responsive-container > :nth-child(2) {
      justify-self: start;
    }

    .responsive-container > :nth-child(3) {
      justify-self: end;
    }

    .responsive-container > :nth-child(4) {
      justify-self: start;
    }
  }

  @media (width < 1025px) {
    h2 {
      padding-inline: var(--padding-inline-tablet);
    }
  }
  @media (width < 754px) {
    .responsive-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media (width < 648px) {
    h2 {
      padding-inline: var(--padding-inline-mobile);
    }
  }

  @media (width > 1400px) {
   .g-section-container {
    padding-inline: 3rem;
   }
  }
</style>
