---
// Import utils
import { fetchAllCategories, fetchPostsInCategory } from '@utils/api/apiService';

// Import types
import type { Category } from 'src/types';

// Import Layouts
import BaseLayout from '@layouts/BaseLayout.astro';
import GridPostCard from '@components/postCards/GridPostCard.astro';

// Import global (not global stores) variables/constants
import { postFields, categoryFields } from 'src/apiGlobalConsts';


export async function getStaticPaths() {
  const categories = await fetchAllCategories(categoryFields);

  return categories.map((category: Category) => {
    return {
      params: { category: category.slug },
      props: {
        name: category.name,
        slug: category.slug,
        id: category.id,
      },
    };
  });
}

const category = Astro.props;

const posts = await fetchPostsInCategory(category.id, postFields)

---

<BaseLayout pageTitle={category.name}>
  <section>
    <h1>{category.name}</h1>
    <GridPostCard {posts} />
  </section>
</BaseLayout>

