---
//Import layouts
import HpSectionLayout from "@layouts/HpSectionLayout.astro";

//Import data
import { mainSponsorsWhite } from "@data/apiData";
---

<HpSectionLayout noHeading={true} yPadding="var(--pd-y-small)">
  <aside class="main-sponsors-flex-container">
    <p class="main-sponsors-title">Patrocinadors principals</p>
    <nav>
      <ul class="main-sponsors-container">
        {
          mainSponsorsWhite.map((sponsor) => (
            <li>
              <a
                href={sponsor.caption}
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src={sponsor.url} alt={sponsor.alt} loading="lazy" />
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </aside>
</HpSectionLayout>

<style>
  .main-sponsors-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.05rem;
    /* height: calc(var(--pd-y-big) * 2);  */
  }

  .main-sponsors-title {
    /* height: 120%; specifically for the line */
    position: relative;
    padding-right: 3.05rem;
    display: flex;
    align-items: center;
    /* border-right: 1px solid white; */
  }

  .main-sponsors-title::after {
    content: "";
    border-right: 1px solid white;
    height: calc(var(--pd-y-medium) * 2); /* or whatever height you want */
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-sponsors-container {
    display: flex;
    align-items: center;
    gap: 3.05rem;
  }

  @media (width < 680px) {
    .main-sponsors-flex-container {
      flex-direction: column;
      gap: var(--pd-y-small);
    }
    .main-sponsors-title {
      height: fit-content;
      padding: 0rem;
    }
    .main-sponsors-title::after {
      display: none;
    }

    .main-sponsors-container {
      gap: 2rem;
    }
  }
</style>
