---
import { topHeaderCallToAction } from "src/data/header";
---

<p>
  {topHeaderCallToAction.toUpperCase() }
  <a href="" class="underline-links"> AQUÍ</a>
</p>

<style>
  p {
    text-align: center;
    line-height: var(--top-header-hg);
    font-weight: 560;
    font-style: italic;
  }
</style>