---
import { topHeaderCallToAction } from "src/data/header";
import { extractTopHeaderContent } from "@utils/helperFunctions";

const { content } = Astro.props;


const topHeaderContent = extractTopHeaderContent(content);

const { text1, link1 } = topHeaderContent![0];
const { text2, link2 } = topHeaderContent![1];

---

<p>
  {topHeaderCallToAction.toUpperCase() }
  <a href="" class="underline-links"> AQUÍ</a>
</p>

<style>
  p {
    text-align: center;
    line-height: var(--top-header-hg);
    font-weight: 560;
    font-style: italic;
  }
</style>