*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*Colors*/
  --clr-text: #FFFFFF;
  --clr-primary: #001A9C;
  --clr-secondary: #FFFFFF;
  --clr-secondary: #FB7326;
  --clr-accent: #FB7326; /*Added from Dapps, used in orange button*/

  --header-hg: 3rem;
  --footer-hg: 3rem;

  /*Buttons*/
  --btn-height: 2.69rem;
  --btn-width-s: 2.69rem;
  --btn-height-m: 2.69rem;
  --btn-height-l: 2.69rem;
  
  --font-size: 0.78125rem;
  --font-size-h2: 2.25rem;
}


@font-face {
  font-family: 'RobotoSerif-Regular';
  src: url('/RobotoSerif-Regular.woff2');
}
img {
  max-width: 100%;
  display: block;
}

h2 {
  text-align: center;
  font-size:1.875rem;
  /* padding: 2rem; */
  line-height: 1.5625rem;
}

section {
  /* display: grid;
  place-items: start; */
  /* place-content: center; */
  width: 50rem;
  margin: auto;
  min-height: calc(100vh - var(--footer-hg) - var(--header-hg));
}

ul {
  list-style: none;
}

li {
  display: inline;
}