*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*Colors*/
  --clr-primary: #002e6d;
  --clr-contrast: #f3f3f3;
  --clr-accent: #fa6e19;
  --clr-secondary: #084395;
  --clr-footer: #142847;

  /*Element sizes*/
  /*Cannot use variables in media queries. Would be ideal for responsiveness. Still writting sizes here to have as reference
    Using px instead of rem to trigger based on screen size
  */
  --regular-width: 1400px;
  --tablet-width: 769px;
  --mobile-width: 375px;
  --padding-inline: 6.13rem;
  --padding-inline-tablet: 2rem;
  --padding-inline-mobile: 1.56rem;
  --padding-inline-header: 3.6rem;
  --padding-inline-internal-page: 18.88rem;
  --padding-inline-internal-page-tablet: 3.37rem;
  --padding-inline-internal-page-mobile: 1.62rem;
  --header-hg: 3rem;
  --footer-top-section-hg: 17.6875rem;

  --footer-bottom-section-hg: 5.6875rem;
  --footer-bottom-section-tablet-hg: 9.0625rem;
  --footer-bottom-section-mobile-hg: 13.875rem;
  --header-separator-line-hg: 0.5625rem;
  --header-separator-line-responsive-hg: 0.3125rem;
  --footer-hg: calc(
    var(--footer-top-section-hg) + var(--footer-bottom-section-hg)
  );

  --top-header-hg: 2.75rem;
  --bottom-header-hg: 6.3125rem;

  --sponsors-main-hg: 7.875rem;
  --sponsors-all-hg: 72.0625rem;

  /*Buttons*/
  --btn-height: 2.69rem;
  --btn-width-regular: 11rem;
  --btn-width-small: 9.8rem;

  /**/
  --membership-item-wd-big: 24.1875rem;
  --membership-item-wd-medium: 18.3875rem;
  --membership-item-wd-small: 24rem;

  --slider-item-width: 18.6875rem;

  --padding-section-big: 4.5rem;
  --padding-section-medium: 2.62rem;
  --padding-section-small: 2rem;
  --padding-heading-big: 2.62rem;
  --padding-heading-medium: 1.75rem;
  --padding-heading-small: 1.5rem;

  /*Font sizes*/
  --font-size-regular: 0.78125rem;
  --font-size-h1: 3.375rem;
  --font-size-h2: 2.25rem;
  --font-size-h2-medium: 1.625rem;
  --font-size-h3: 1.875rem;
  --font-size-h3: 1.75rem;
  --font-size-h3-medium: 1.375rem;
  --font-size-h4: 1.25rem;
  --font-size-h5: 0.9375rem;
  --font-size-footer: 0.5625rem;

  /*Font weight*/
  --font-weight-regular: 550;
  --font-weight-bold: 560;

  /*Line Heights*/
  --line-height-regular: 1.125rem;
  --line-height-h1: 3.6875rem;
  --line-height-h2: 2.5625rem;
  --line-height-h2-medium: 2rem;
  --line-height-h3: 1.5625rem;
  --line-height-h4: 1.5625rem;
  --line-height-h5: 1.5625rem;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  /* position: relative; */
  width: 100vw;
  background-color: var(--clr-primary);
  font-family: "obviously", sans-serif;
  font-size: var(--font-size-regular);
  /* font-weight: 300; */
  line-height: var(--line-height-regular);
  color: var(--clr-contrast);
}

/* main {
  max-width: var(--regular-width);
  margin: auto;
} */

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: 800;
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: 600;
}

h3 {
  font-size: var(--font-size-h3);
  line-height: 2.1875rem;
  font-weight: 500;
}

h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  font-weight: 600;
  /* text-wrap: balance; */
}

h5 {
  font-size: var(--font-size-h5);
  font-weight: 560;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

a {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  color: var(--clr-contrast);
}

button {
  all: unset;
}

button:hover {
  cursor: pointer;
}

a:hover {
  color: var(--clr-accent);
}

a:hover svg.icons path {
  fill: var(--clr-accent);
}

/* Targeting the svg arrow position controls */
button:hover svg.icons {
  fill: var(--clr-accent);
}

button:hover svg.icons path {
  stroke: var(--clr-contrast);
}

small {
  font-size: inherit;
  text-wrap: balance;
}

/*Global Classes*/
.underline-links {
  text-decoration: underline;
}

/*Global Classes for Footer Components*/
.top-footer-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8.0625rem;
}

.footer-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.g-opacity {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.g-slider-container {
  width: calc(100vw - var(--padding-inline));
}

/* For samsung galaxies */
/* @media (width < 374px) {
    .g-slider-container {
      width: calc(102vw - var(--padding-inline-mobile));
    }
  } */

/*Button Classes*/
.button-anchor {
  text-decoration: none;
  padding-bottom: 0.1rem;
  display: grid;
  place-items: center;
  height: var(--btn-height);
  width: var(--btn-width-regular);
  border: 1px solid var(--clr-accent);
  border-radius: 1.75rem;
  font-weight: 500;
}

.button-anchor:hover {
  cursor: pointer;
  background-color: var(--clr-accent);
  color: var(--hoverTextColor);
}

.g-text-clr-accent {
  color: var(--clr-accent);
}

.g-date-style {
  font-style: italic;
  font-weight: 500;
}

.g-visibly-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/*Internal Pages styles*/
.g-h2-internal-page {
  font-size: 3.375rem;
  line-height: 3.2rem;
  font-weight: 800;
  padding-bottom: 1rem;
  text-align: left;
  text-wrap: balance;
}

.g-headings-internal-page {
  font-size: 1.625rem;
  color: var(--clr-accent);
  font-weight: 800;
  text-align: left;
}

/*Button Classes*/

.button-anchor-internals {
  text-decoration: none;
  display: grid;
  place-items: center;
  min-height: var(--btn-height);
  padding-inline: 1rem;
  font-weight: 560;
  padding-block: 0.5rem;
  border: 1px solid var(--clr-accent);
  border-radius: 1.75rem;
  color: var(--clr-accent);
  max-width: 20.4375rem;
  margin-block: 2rem;
  margin-inline: auto;
  text-align: center;
}

.button-anchor-internals:hover {
  cursor: pointer;
  background-color: var(--clr-accent);
  color: var(--clr-contrast);
}

.g-internal-page {
  background-color: var(--clr-contrast);
  color: var(--clr-primary);
  padding-block: var(--padding-section-big);
  padding-inline: var(--padding-inline);
}

.g-section-container {
  max-width: 1400px;
  margin: 0 auto;
}

@media (width < 1025px) {
  h2 {
    font-size: var(--font-size-h2-medium);
    line-height: var(--line-height-h2-medium);
  }

  h3 {
    font-size: var(--font-size-h3-medium);
    /* line-height: var(--line-height-h2-medium); */
  }
  .g-internal-page {
    padding-inline: var(--padding-inline-tablet);
    padding-block: var(--padding-section-medium);
  }

  .g-slider-container {
    width: calc(100vw - var(--padding-inline-tablet));
  }
}
@media (width < 648px) {
  .g-internal-page {
    padding-block: var(--padding-section-small);
    padding-inline: var(--padding-inline-mobile);
  }
  .g-slider-container {
    width: calc(100vw - var(--padding-inline-mobile));
  }

  .top-footer-articles {
    height: auto;
  }
}
