---
import IndividualTeamDesktop from "@components/teams/IndividualTeamDesktop.astro";
import { teams } from "@data/teamsSection.ts";
---

<section class="teams-section-container">
  <h2>Equips</h2>
  <div class="desktop-container">
    {
      teams.map((team) => 
        <IndividualTeamDesktop {team} />
      )
    }
  </div>
</section>

<style>
  .teams-section-container {
    padding-block: 2rem;
    padding-inline: var(--padding-inline);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .desktop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
</style>
