---
import IndividualTeamDesktop from "@components/teams/IndividualTeamDesktop.astro";
import IndividualTeamResponsive from "@components/teams/IndividualTeamResponsive.astro";
import { teams } from "@data/teamsSection.ts";
---

<section class="teams-section-container">
  <h2>Equips</h2>
  <div class="desktop-container">
    {
      teams.map((team) => 
        <IndividualTeamDesktop {team} />
      )
    }
  </div>
  <div class="responsive-container">
    {
      teams.map((team) => 
        <IndividualTeamResponsive {team} />
      )
    }
</section>

<style>
  .teams-section-container {
    padding-block: 2rem;
    padding-inline: var(--padding-inline);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .desktop-container {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .responsive-container {
    display: none;
  }

  @media (width < 1385px) {
    .desktop-container {
      display: none;
    }

    .responsive-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
