---
import IndividualMemebership from "@components/memberships/IndividualMembership.astro";
import MembershipItem from "@components/memberships/MembershipItem.svelte";

import ButtonAnchor from "@components/ButtonAnchor.astro";

import { memberships } from "@data/memberships";
import Slider from "@components/Slider.svelte";
---

<section class="g-page-section-with-slider-container">
  <!-- <div class="section-title-container"> -->
  <h2>Forma part de la família CBG</h2>
  <!-- <div class="title-buttons-container">
      <ButtonAnchor isFilled={true} text={`fes-te soci`} />
      <ButtonAnchor text={`fes-te sponsor`} />
    </div>
  </div>
  <div class="desktop">
    <IndividualMemebership {memberships} />
  </div> -->

  <div class="g-slider-container">
    <Slider
      client:visible
      sliderItems={memberships}
      childComponent="MembershipItem"
      itemWidth={315}
      gap={`1rem`}
    />
  </div>
  <!-- <div class="responsive"> -->
  <!-- <MembershipItem client:visible {memberships} /> -->
  <!-- </div> -->
  <!-- </div> -->
</section>
<style>
  .g-slider-container {
    display: none;
  }

  .g-page-section-with-slider-container {
    background-color: var(--clr-primary);
  }

  .section-title-container {
    padding-inline: var(--padding-inline);
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .title-buttons-container {
    display: flex;
    gap: 1.19rem;
  }

  @media (width < 1062px) {
    .desktop {
      display: none;
    }

    .g-slider-container {
      display: block;
    }

    .section-title-container {
      padding-inline: var(--padding-inline-mobile);
    }
  }

  @media (width < 397px) {
    .section-title-container {
      padding-inline: 0.2rem;
    }
    .title-buttons-container {
      justify-content: space-between;
      gap: 0.5rem;
    }
  }
</style>
