---
import MembershipItem from "@components/homePage/memberships/MembershipItem.svelte";

import ButtonAnchor from "@components/ButtonAnchor.svelte";
import { memberships } from "@data/memberships";
import Slider from "@components/Slider.svelte";

let isSelected = true;

function toggleSelected() {
  isSelected = !isSelected;
}
---

<script>
  const buttons = document.querySelectorAll(".options");

  buttons[0].classList.add("selected");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      buttons.forEach((button) => {
        button.classList.remove("selected");
      });
      button.classList.add("selected");
    });
  });
</script>

<section class="g-page-section-with-slider-container">
  <div class="title-and-options-container">
    <h2>Forma part de la família CBG</h2>
    <div class="options-container">
      <button class="button-anchor options"
        >{"fes-te soci".toUpperCase()}</button
      >
      <button class="button-anchor options"
        >{"fes-te sponsor".toUpperCase()}</button
      >
    </div>
  </div>

  <div class="desktop">
    {
      memberships.map((membership) => (
        <div>
          <MembershipItem client:visible item={membership} />
        </div>
      ))
    }
  </div>

  <div class="g-slider-container">
    <Slider
      client:visible
      sliderItems={memberships}
      childComponent="MembershipItem"
      itemWidth={315}
      gap={`1rem`}
    />
  </div>
</section>
<style>
  .desktop {
    padding-right: var(--padding-inline);
    display: grid;
    grid-template-columns: 24.1875rem 24.1875rem 24.1875rem;
    place-items: center;
    justify-content: space-between;
    /* gap: 1.3rem; */
  }
  .g-slider-container {
    display: none;
  }

  .g-page-section-with-slider-container {
    background-color: var(--clr-primary);
  }

  .title-and-options-container {
    padding-right: var(--padding-inline);
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .options-container {
    display: flex;
    gap: 1.5rem;
  }
  .button-anchor {
    width: var(--btn-width-sm);
    transition: all 0.3s ease-in-out;
  }
  .selected {
    background-color: var(--clr-accent);
  }

  @media (width < 1374px) {
    .desktop {
      grid-template-columns: 18.3875rem 18.3875rem 18.3875rem;
      justify-content: center;
      gap: 1rem;
    }

    .g-page-section-with-slider-container {
      padding-inline: 0rem;
    }

    .desktop {
      padding-right: 0rem;
    }

    .title-and-options-container {
      padding-inline: var(--padding-inline);
    }
  }
  @media (width < 1122px) {
  }
  @media (width < 1025px) {
    .title-and-options-container {
      padding-inline: var(--padding-inline-tablet);
    }
  }

  @media (width < 932px) {
    .desktop {
      display: none;
    }
    .g-slider-container {
      display: block;
    }

    .g-page-section-with-slider-container {
      padding-left: var(--padding-inline-tablet);
    }

    .title-and-options-container {
      padding-left: 0rem;
    }
  }

  @media (width < 648px) {
    .title-and-options-container {
      padding-right: var(--padding-inline-mobile);
    }
  }

  @media (width < 397px) {
    .options-container {
      gap: 0rem;
      width: 100%;
      justify-content: space-between;
      padding-right: var(--padding-inline-mobile);
    }
  }
</style>
