---
import MembershipItem from "@components/homePage/memberships/MembershipItem.svelte";
import SponsorItem from "@components/homePage/memberships/SponsorItem.svelte";
import ButtonAnchor from "@components/ButtonAnchor.svelte";
import { memberships, sponsors } from "@data/memberships";
import Slider from "@components/Slider.svelte";

let isSelected = true;

function toggleSelected() {
  isSelected = !isSelected;
}
---

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const membershipsButton = document.getElementById("btn-memberships");
    const sponsorsButton = document.getElementById("btn-sponsors");
    const membershipsDiv = document.querySelector(".memberships");
    const sponsorsDiv = document.querySelector(".sponsors");

    membershipsButton!.classList.add("selected");

    function toggleSection(event: MouseEvent) {
      const isMembershipsButton =
        (event.target as HTMLElement)?.id === "btn-memberships";

      if (
        membershipsDiv instanceof HTMLElement &&
        sponsorsDiv instanceof HTMLElement
      ) {
        membershipsDiv.style.display = isMembershipsButton ? "block" : "none";

        sponsorsDiv.style.display = isMembershipsButton ? "none" : "block";
      }

      document.querySelectorAll(".options").forEach((button) => {
        if (button instanceof HTMLElement) {
          button.classList.remove("selected");
        }
      });

      if (event.target instanceof HTMLElement) {
        event.target.classList.add("selected");
      }
    }

    membershipsButton!.addEventListener("click", toggleSection);
    sponsorsButton!.addEventListener("click", toggleSection);
  });
</script>

<section class="g-page-section-with-slider-container">
  <div class="title-and-options-container">
    <h2>Forma part de la família CBG</h2>
    <div class="options-container">
      <button id="btn-memberships" class="button-anchor options"
        >{"fes-te soci".toUpperCase()}</button
      >
      <button id="btn-sponsors" class="button-anchor options"
        >{"fes-te sponsor".toUpperCase()}</button
      >
    </div>
  </div>

  <div class="memberships">
    <div class="membership-desktop">
      {
        memberships.map((membership) => (
          <div>
            <MembershipItem client:visible item={membership} />
          </div>
        ))
      }
    </div>

    <div class="g-slider-container meberships-slider">
    <Slider
    client:visible
    sliderItems={memberships}
    childComponent="MembershipItem"
    itemWidth={315}
    gap={`1rem`}
    />
  </div>
  </div>

  <div class="sponsors">
    <div class="sponsors-desktop">
      {
        sponsors.map((sponsor) => (
          <div>
            <SponsorItem client:visible item={sponsor} />
          </div>
        ))
      }
    </div>

    <div class="g-slider-container sponsors-slider">
      <Slider
      client:visible
      sliderItems={sponsors}
      childComponent="SponsorItem"
      itemWidth={315}
      gap={`1rem`}
      />
    </div>
  </div>
</section>
<style>
  .membership-desktop {
    padding-right: var(--padding-inline);
    display: grid;
    grid-template-columns: 24.1875rem 24.1875rem 24.1875rem;
    place-items: center;
    justify-content: space-between;
    /* gap: 1.3rem; */
  }

  .sponsors-desktop {
    padding-right: var(--padding-inline);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24.1875rem, 1fr));
    place-items: center;
    justify-content: space-between;
    gap: 1.3rem;
  }
  .g-slider-container {
    display: none;
  }

  .sponsors-slider {
    display: none;
  }
  .g-page-section-with-slider-container {
    background-color: var(--clr-primary);
  }

  .title-and-options-container {
    padding-right: var(--padding-inline);
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .options-container {
    display: flex;
    gap: 1.5rem;
  }
  .button-anchor {
    width: var(--btn-width-sm);
    transition: all 0.3s ease-in-out;
  }
  .selected {
    background-color: var(--clr-accent);
  }

  @media (width < 1399px) {
    .sponsors-desktop > div:nth-child(odd) {
      justify-self: end;
    }

    .sponsors-desktop > div:nth-child(even) {
      justify-self: start;
    }
  }

  @media (width < 1374px) {
    .membership-desktop {
      grid-template-columns: 18.3875rem 18.3875rem 18.3875rem;
      justify-content: center;
      gap: 1rem;
    }

    .sponsors-desktop {
      padding-inline: var(--padding-inline);
    }

    .g-page-section-with-slider-container {
      padding-inline: 0rem;
    }

    .membership-desktop {
      padding-right: 0rem;
    }

    .title-and-options-container {
      padding-inline: var(--padding-inline);
    }
  }
  @media (width < 1122px) {
  }
  @media (width < 1025px) {
    .title-and-options-container {
      padding-inline: var(--padding-inline-tablet);
    }

    .sponsors-desktop {
      padding-inline: 0rem;
    }
  }

  @media (width < 932px) {
    .membership-desktop {
      display: none;
    }
    .g-slider-container {
      display: block;
    }

    .g-page-section-with-slider-container {
      padding-left: var(--padding-inline-tablet);
    }

    .sponsors-desktop {
      padding-right: var(--padding-inline-tablet);
    }

    .title-and-options-container {
      padding-left: 0rem;
    }
  }

  @media (width < 859px) {
    .sponsors-desktop {
      display: none;
    }

    .sponsors-slider {
      display: block;
    }
  }
  @media (width < 648px) {
    .title-and-options-container {
      padding-right: var(--padding-inline-mobile);
    }

    .g-page-section-with-slider-container {
      padding-left: var(--padding-inline-mobile);
    }
  }

  @media (width < 397px) {
    .options-container {
      gap: 0rem;
      width: 100%;
      justify-content: space-between;
    }
  }
</style>
