---
import { bottomHeaderLinks } from "src/data/header";
import { logo } from "@assets/logo";
import DropDownMenu from "@components/header/bottomHeader/DropDownMenu.astro";
import { collapsibleArrowHeader, magnifyingGlass } from "@assets/icons";

const { bottomHeaderContent} = Astro.props;

// console.log('bottomHeaderContent', bottomHeaderContent)

---


<!-- {
  bottomHeaderContent.map((item) => {

  })
} -->

  <a class="logo" href="/"
    ><img
      src="/logo.svg"
      alt="Web oficial del Club Bàsquet Granollers"
    /></a
  >


<nav class="nav">
  <ul>
    {
      bottomHeaderContent.map((item) => (
        <li>
          {item.dropdown ? (
            <DropDownMenu {item}/>
          ) : (
            <a href={item.link}>{item.name!.toUpperCase()}</a>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<div class="history-search-container">
  <a href="" class="button-anchor">
    {`La història`.toUpperCase()}
  </a>
  <div class="search-icon">
    <Fragment set:html={magnifyingGlass} />
  </div>
</div>

<style>
  .button-anchor {
    border: none;
    background-color: var(--clr-secondary);
    color: var(--clr-contrast);
  }

  .button-anchor:hover {
    background-color: var(--clr-accent);
    font-weight: 500;
  }
  .logo {
    position: absolute;
    bottom: 0.5rem;
    left: var(--padding-inline);
  }

  button:hover {
    color: var(--clr-accent);
  }
  .history-search-container {
    position: absolute;
    display: flex;
    right: var(--padding-inline);
    bottom: 50%;
    transform: translateY(50%);
    gap: 0.94rem;
  }

  .search-icon {
    align-self: center;
  }

  .search-icon:hover {
    cursor: pointer;
  }
 

  ul {
    min-height: var(--bottom-header-hg);
    display: flex;
    gap: 2rem;
    align-items: center;
    color: var(--clr-primary);
    font-weight: var(--font-weight-bold);
    padding-left: 12.4rem;
  }

  a {
    color: var(--clr-primary);
  }

  .button {
    text-decoration: none;
    display: grid;
    place-items: center;
    height: 2.6875rem;
    width: 8.8125rem;
    border-radius: 1.75rem;
    color: inherit;
    background-color: var(--clr-secondary);
    font-weight: 500;
    transition:
      background-color 0.1s ease-in-out,
      font-weight 0.1s ease-in-out;
  }

  .button:hover {
    background-color: var(--clr-accent);
    font-weight: 560;
  }
</style>
