---
import DropDownMenu from "@components/header/bottomHeader/DropDownMenu.astro";
import LaHistoriaLogo from "../../../assets/LaHistoriaLogo.astro"
import SearchWidget from "@components/SearchWidget.svelte";

const { navigation, websiteContent } = Astro.props;
---

<a class="logo" href="/"
  ><img src="/logo.svg" alt="Logo del Club Bàsquet Granollers" /></a
>

<nav class="nav">
  <ul>
    {
      navigation.map((item) => (
        <li>
          {item.dropdown ? (
            <DropDownMenu {item} />
          ) : item.link.includes("http") ? (
            <a href={item.link} target="_blank" rel="noopener noreferrer">
              {item.name!.toUpperCase()}
            </a>
          ) : (
            <a href={item.link}>{item.name!.toUpperCase()}</a>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<div class="history-search-container">
  <a href="https://historiabasquetgranollers.cat/" target="_blank">
    <LaHistoriaLogo  wd="199"  title="Logo de La Història del Bàsquet a Granollers"/>
  </a>
         
  <SearchWidget client:load {websiteContent} />
</div>

<style>
  .logo {
    position: absolute;
    bottom: 0.5rem;
    left: var(--pd-x);
  }

  .history-search-container {
    position: absolute;
    display: flex;
    right: var(--pd-x);
    bottom: 50%;
    transform: translateY(50%);
    gap: 0.94rem;
    display: flex;
    gap: 3.22rem;
    align-items: center;
  }

  ul {
    min-height: var(--hg-header-bottom-section);
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: var(--clr-primary);
    font-weight: var(--fnt-wg-medium);
    padding-left: 12.4rem;
  }

  a {
    color: var(--clr-primary);
  }
</style>
