---
import DropDownMenu from "@components/header/bottomHeader/DropDownMenu.astro";

import SearchWidget from "@components/SearchWidget.svelte";

const { navigation, websiteContent } = Astro.props;
---
<a class="logo" href="/"
  ><img src="/logo.svg" alt="Web oficial del Club Bàsquet Granollers" /></a
>

<nav class="nav">
  <ul>
    {
      navigation.map((item) => (
        <li>
          {item.dropdown ? (
            <DropDownMenu {item} />
          ) : item.link.includes("http") ? (
            <a href={item.link} target="_blank" rel="noopener noreferrer">
              {item.name!.toUpperCase()}
            </a>
          ) : (
            <a href={item.link}>{item.name!.toUpperCase()}</a>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<div class="history-search-container">
  <SearchWidget client:load {websiteContent} />
</div>

<style>
  .logo {
    position: absolute;
    bottom: 0.5rem;
    left: var(--padding-inline);
  }

  .history-search-container {
    position: absolute;
    display: flex;
    right: var(--padding-inline);
    bottom: 50%;
    transform: translateY(50%);
    gap: 0.94rem;
  }

  ul {
    min-height: var(--bottom-header-hg);
    display: flex;
    gap: 2rem;
    align-items: center;
    color: var(--clr-primary);
    font-weight: var(--font-weight-bold);
    padding-left: 12.4rem;
  }

  a {
    color: var(--clr-primary);
  }
</style>
