---
import { bottomHeaderLinks } from "src/data/header";
import { logo } from "@assets/logo";
import { collapsibleArrowHeader } from '@assets/icons'
---
<script>


function handleClick() {
  let div = this.querySelector('.rotate');
  div.classList.toggle('rotated');
}
let buttons = document.querySelectorAll('button');

buttons.forEach(function(button) {
  // Add the event listener to each button
  button.addEventListener('click', handleClick);
});

</script>
<a title="Club Bàsquet Granollers Logo" aria-label="Club Bàsquet Granollers Logo"href="/"><Fragment set:html={logo}/></a>

<nav class="nav">
  <ul>
    {
      bottomHeaderLinks.map((category) => (
        <li>
          {category.title ? (
            <button>{category.title.toUpperCase()}<div class="rotate"><Fragment set:html={collapsibleArrowHeader} /></div></button>
          ) : (
            <a href={category.slug}>{category.name!.toUpperCase()}</a>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<style>
  a {
    position: absolute;
    bottom: 4px;
    left: var(--padding-inline)
  }

 

 .rotate {
    display: inline-block;
    transform: rotate(0);
    transform-origin: 60% 45%;
    transition: 0.45s transform ease-in-out;
 }

 .rotated {
    transform: rotate(-180deg);
  }
  ul {
    min-height: var(--bottom-header-hg);
    display: flex;
    gap: 2rem;
    align-items: center;
    color: var(--clr-primary);
    font-weight: var(--font-weight-bold);
  }
  a {
     color: var(--clr-primary);
    font-weight: var(--font-weight-bold);
  }
</style>
