---
import BaseLayout from "@layouts/BaseLayout.astro";

import { teams } from "@data/teamsSection";

import TeamItemResponsive from "@components/homePage/teams/TeamItemResponsive.astro";
import { fetchPostBySlug, fetchPageBySlug } from "fetch-wordpress-api";

const equipMasculi = await fetchPageBySlug("equips-masculins-temporada-22-23")

console.log('equipMasculi', await equipMasculi)
---

<BaseLayout pageTitle="Equips del Club Bàsquet Granollers">
  <section class="g-internal-page">
    <h1>Equips del Club Bàsquet Granollers</h1>
    <div class="teams-container">
      {teams.map((team) => <TeamItemResponsive team={team} />)}
    </div>
  </section>
</BaseLayout>

<style>
  .teams-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
</style>
