---
// Import Layouts
import BaseLayout from "@layouts/BaseLayout.astro";

// Import components
import Hero from "@components/homePage/Hero.astro";
import MainSponsors from "@components/homePage/sponsors/MainSponsors.astro";
import AllSponsors from "@components/homePage/sponsors/AllSponsors.astro";
import Projects from "@components/homePage/projects/Projects.astro";
import Teams from "@components/homePage/teams/Teams.astro";
import Join from "@components/homePage/join/Join.astro";
import News from "@components/homePage/news/News.astro";

const title = `Club Bàsquet Granollers`;
---

<BaseLayout {title}>
  <Hero />
  <h1 class="g-visibly-hidden">{title}</h1>
  <MainSponsors />
  <News />
  <Join />
  <Teams needsHeading={true} />
  <Projects />
  <AllSponsors />
</BaseLayout>
