---
// Import types
import { PostFields, Endpoints, CategoryFields } from 'src/types';

// Import Layouts
import BaseLayout from '@layouts/BaseLayout.astro';

// Import components
import GridPostCard from '@components/postCards/GridPostCard.astro';

// Import api functions from utils
import { getFromAPI } from '@utils/api';

const posts = await getFromAPI(
  Endpoints.posts,
  [
    PostFields.title,
    PostFields.content,
    PostFields.excerpt,
    PostFields.slug,
    PostFields.categories,
    PostFields.date,
  ],
  16
);

const categories = await getFromAPI(Endpoints.categories, [
    CategoryFields.id,
    CategoryFields.name,
    CategoryFields.slug,
  ]);
const title = 'El Putu Dapps';
---

<BaseLayout {title}>
  <h1>{title}</h1>
  <GridPostCard {posts} {categories}/>
</BaseLayout>

