---
import { PostFields, Endpoints } from 'src/types';

import BaseLayout from '@layouts/BaseLayout.astro';

import { getFromAPI } from '@utils/api';
import GridPostCard from '@components/postCards/GridPostCard.astro';
const pageTitle = 'El Putu Dapps';
const posts = await getFromAPI(
  Endpoints.posts,
  [
    PostFields.title,
    PostFields.content,
    PostFields.excerpt,
    PostFields.slug,
    PostFields.categories,
    PostFields.date,
  ],
  16
);
---

<BaseLayout {pageTitle}>
  <h1>{pageTitle}</h1>
  <GridPostCard {posts} />
</BaseLayout>

