---
// Import types
import { Endpoints, CategoryFields } from 'src/types';

// Import Layouts
import BaseLayout from '@layouts/BaseLayout.astro';

// Import components
import GridPostCard from '@components/postCards/GridPostCard.astro';

// Import api functions from utils
import { fetchAllCategories, fetchAllPosts } from '@utils/api/apiService';

// Import global (not global stores) variables/constants
import { postFields, categoryFields } from 'src/apiGlobalConsts';

const posts = await fetchAllPosts(8, postFields);

const categories = await fetchAllCategories(categoryFields);

const title = 'El Putu Dapps';
---

<BaseLayout {title}>
  <h1>{title}</h1>
  <GridPostCard
    {posts}
    {categories}
  />
</BaseLayout>

