---
// Import utils
import {
  fetchAllCategories,
  fetchPostsInCategory,
  Category,
  fetchPosts,
} from "fetch-wordpress-api";

// Import types
import type { Post } from "fetch-wordpress-api";

// Import Layouts
import BaseLayout from "@layouts/BaseLayout.astro";
import GridPostCard from "@components/homePage/news/GridPostCard.astro";
import { dateConverter } from "@utils/helperFunctions";
import InternalPageLayout from "@layouts/InternalPageLayout.astro";
import Headings from "@components/internal-pages/headings.astro";

const noticies = await fetchPostsInCategory(19,[],21);

---

<InternalPageLayout title={`Notícies del Club Bàsquet Granollers`} heading={`Notícies del club Bàsquet Granollers`} subHeading={`Totes les notícies`}>
    <div class="noticies-container">
      {
        noticies.map((noticia: Post) => (
          <article class="noticia">
            <a href={`${noticia.slug}`}>
              <div class="image-container">
                {noticia.image && (
                  <img
                    src={noticia.image.url}
                    alt={
                      noticia.image.alt
                        ? noticia.image.alt
                        : noticia.title.rendered
                    }
                  />
                )}
              </div>
              <div class="info-container">
                <h4>
                  <Fragment set:html={noticia.title.rendered} />
                </h4>
                <p>{`Publicat ${dateConverter(noticia.date)}`}</p>
              </div>
            </a>
          </article>
        ))
      }
    </div>
</InternalPageLayout>

<style>
  h4  { 
    font-weight: 500;
  }
  .noticies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    /* padding-inline: var(--padding-inline); */
  }
  
  p {
    position: absolute;
    bottom: 0;
    background-color: var(--clr-secondary);
    padding-bottom: 0.5rem;
    font-style: italic;
    width: 100%;
    z-index: 20;
  }

  a {
    display: block;
    height: 100%;
  }

  img {
    height: 100%;
    object-fit: cover;
    margin: auto;
  }

  .info-container {
    position: relative; /* so the z-index has effect  */
    padding-inline: 1rem;
    padding-block: 0.5rem;
    color: var(--clr-contrast);
    background-color: var(--clr-secondary);
  }

  .image-container {
    background-color: white;
    z-index: 0;
  }

  .noticia {
    height: 21.87rem;
    width: 24.25rem;
    flex-shrink: 0;
    border-top-left-radius: 2.9375rem;
    overflow: hidden;
  }

  .noticia .image-container {
    height: 67%;
  }

  .noticia .info-container {
    height: 33%;
  }

  @media (width < 1025px) {
    .noticia {
      width: 21.625rem;
      height: 20.93rem;
    }
  }

  @media (width < 648px) {
    h1 {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }

      .noticia {
      width: 20.4375rem;
      height: 19.74rem;
    }
  }

  @media (width < 375px) {
    .noticia {
      width: 100%;
    }
  }
</style>
