---
const { text, isFilled } = Astro.props as  { text: string;
isFilled: boolean};
---


  <a href="" class:list={[{ isFilled: isFilled }]}>{text.toUpperCase()}</a>


<style>
  a {
    text-decoration: none;
    display: grid;
    place-items: center;
    height: var(--btn-height);
    width: 10rem;
    border: 1px solid var(--clr-accent);
    border-radius: 1.75rem;
    color: inherit;
  }

  a:hover {
    background-color: var(--clr-accent);
  }

  .isFilled {
    background-color: var(--clr-accent);
  }
</style>