---
const { text, isFilled, slug, textColor, hoverTextColor } = Astro.props as  { text: string;
isFilled: boolean,
slug: string,
textColor: string,
hoverTextColor: string};

console.log('color',hoverTextColor)
---


  <a href={slug} class:list={[{ isFilled: isFilled }]}>{text.toUpperCase()}</a>


<style define:vars={{ textColor, hoverTextColor}}>
  a {
    text-decoration: none;
    display: grid;
    place-items: center;
    height: var(--btn-height);
    width: 10rem;
    border: 1px solid var(--clr-accent);
    border-radius: 1.75rem;
    color: var(--textColor);
  }
  
  a:hover {
    cursor: pointer;
    background-color: var(--clr-accent);
    color: var(--hoverTextColor)
  }

  .isFilled {
    background-color: var(--hoverTextColor);
  }
</style>