---
import SocialMediaMenu from '@components/SocialMediaMenu.astro';

import { bottomFooterLinks } from 'src/data/footer';
const currentYear = new Date().getFullYear();
---

<footer>
  <div>
    {
      bottomFooterLinks.map((link) => (
        <a
          href={`/${link.slug}`}
          target='_blank'
          rel='noopener noreferrer'
        >
          {link.name}
        </a>
      ))
    }
  </div>
  <small
    >Web Propietat del Club Bàsquet Granollers. Copyright © {currentYear}. All
    rights reserved</small
  >
  <SocialMediaMenu />
</footer>

<style>
  footer {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    height: var(--footer-hg);
    width: clamp(375px, 100vw, 1300px);
    margin: 0.4rem 0.7rem 0.3rem 0.8rem;
    /* background-color: beige; */
    margin: auto;
    padding: 1rem;
  }
</style>

