---
---

<header>
  <a href='/'>Bàsquet Granollers</a>
  <nav>
    <ul>
      <li>Primer</li>
      <li>Segon</li>
      <li>Tercer</li>
    </ul>
  </nav>
</header>

<style>
  header {
    position: relative;
		display: flex;
		align-self: center;
		align-items: center;
		justify-content: space-between;
		height: var(--header-hg);
		width: clamp(375px, 100vw, 1300px);
		margin: 0.4rem 0.7rem 0.3rem 0.8rem;
    background-color: beige ;
    margin: auto;
    padding: 1rem;
  }
</style>