---
import { removeHTMLEntity} from '@utils/helperFunctions'
const { post } = Astro.props;
const {
  title: { rendered: title },
  excerpt: { rendered: excerpt },
  slug,
} = post;
console.log('pooost', post)
---

<div class='postCard-container'>
  <h2>{title}</h2>
  <Fragment set:html={excerpt}></>
  <a href={`${slug}`}>Segueix Llegint</a>
</div>

<style>
  p {
  font-size:2rem;
}
</style>