---
import { socialMediaLinks } from '../data';
---

<nav>
  <ul>
    {
      socialMediaLinks.map((socialMediaLink) => {
        const { name, link, description, icon } = socialMediaLink;
        return (
          <li>
            <a
              title={name}
              href={link}
              aria-label={description}
              target='_blank'
              rel='noopener noreferrer'
            >
              <Fragment set:html={icon} />
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>

