---
import { socialMediaLinks } from '../data';
---

<nav>
  <ul>
    {
      socialMediaLinks.map((socialMediaLink) => {
        const { name, link, description, icon } = socialMediaLink;
        return (
          <li>
            <a
              title={name}
              href={link}
              aria-label={description}
              target='_blank'
              rel='noopener noreferrer'
            >
              <Fragment set:html={icon} />
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>

<style>
  nav {
    width: 11.0544rem;
    height: 1.09956rem;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
</style>