---
import MobileCarousel from "./MobileCarousel.svelte";
import ProjectItem from "@components/projects/ProjectItem.svelte";
import Slider from "@components/Slider.svelte";
import { projects } from "@data/projects.ts";
---

<section class="g-page-section-with-slider-container">
  <h2>Projectes</h2>

  <div class="projects-desktop">
    {
      projects.map((project) => (
        <a href={project.link}>
          <img class="image" src={project.image} alt={project.alt} />
        </a>
      ))
    }
  </div>


  <div class="g-slider-container mobile">
    <Slider
      client:visible
      sliderItems={projects}
      childComponent={`ProjectItem`}
      itemWidth={331}
      gap={`1rem`}
    />
  </div>
</section>

<style>
  .mobile {
    display: none;
  }

  h2 {
    padding-bottom: 2rem;
  }

  a {
    display: block;
    width: 100%;
  }
  .projects-desktop {
    padding-right: var(--padding-inline);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-items: center;
    gap: 1rem;
  }

  img {
    object-fit: contain;
    object-position: top center;
    width: 100%;
    height: 100%;
  }

  @media (width < 1025px) {
    .projects-desktop {
      padding-right: var(--padding-inline-tablet);
    }
  }

  @media (width < 648px) {
    .mobile {
      display: block;
    }
    .projects-desktop {
      display: none;
    }
  }
</style>
