---
import IndividualMemebership from "@components/memberships/IndividualMembership.astro";
import IndividualMemebershipResponsive from "@components/memberships/IndividualMembershipResponsive.svelte";

import ButtonAnchor from "@components/ButtonAnchor.astro";

import { memberships } from "@data/memberships";
---

<section class="membership-section-container">
  <div class="section-title-container">
    <h2>Forma part de la família CBG</h2>
    <div class="title-buttons-container">
      <ButtonAnchor isFilled={true} text={`fes-te soci`} />
      <ButtonAnchor text={`fes-te sponsor`} />
    </div>
  </div>
  <div class="desktop">
    <IndividualMemebership {memberships} />
  </div>
  <div class="responsive">
    <IndividualMemebershipResponsive client:visible {memberships} />
  </div>
</section>

<style>
  .responsive {
    display: none;
  }

  .membership-section-container {
    background-color: var(--clr-primary);
    padding-inline: var(--padding-inline);
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .section-title-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .title-buttons-container {
    display: flex;
    gap: 1.19rem;
  }

  @media (width < 1388px) {
    .desktop {
      display: none;
    }
    .responsive {
      display: block;
    }

    .membership-section-container {
      padding-inline: 0rem;
    }

    .section-title-container {
      padding-inline: var(--padding-inline)
    }
  }

  @media (width < 978px) {
     .section-title-container {
      padding-inline: var(--padding-inline-tablet)
    }
  }
</style>
