---
import HeroSwipe from "../hero/HeroSwipe.svelte";
import HeroTimed from "../hero/HeroTimed.svelte";

import { hSlides } from "@data/apiData";


---

<div class="desktop">
  <HeroTimed client:visible slides={hSlides} />
</div>
<div class="responsive">
  <HeroSwipe client:visible slides={hSlides} />
</div>

<style>
  .responsive {
    display: none;
  }

  @media (max-width: 648px) {
    .desktop {
      display: none;
    }
    .responsive {
      display: block;
    }
  }
</style>
