---
const { wd, title } = Astro.props;

const finalWd = (wd / 2).toString();
---

<div class="logo-container" title={title}>
  <svg
    width="95"
    height="51"
    class="icon"
    viewBox="0 0 95 51"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M29.9304 28.3695H8.91852C8.63539 28.3695 8.40796 28.139 8.40796 27.8573C8.40796 27.5756 8.63539 27.3451 8.91852 27.3451H29.9327C30.2158 27.3451 30.4432 27.5756 30.4432 27.8573C30.4432 28.139 30.2158 28.3695 29.9327 28.3695H29.9304Z"
      fill="#E15100"></path>
    <path
      d="M38.7841 49.8195H31.6456C31.3624 49.8195 31.135 49.5891 31.135 49.3073V46.6043C31.135 46.3225 31.3624 46.092 31.6456 46.092H38.7841C39.0672 46.092 39.2947 46.3225 39.2947 46.6043V49.3073C39.2947 49.5891 39.0672 49.8195 38.7841 49.8195ZM32.1561 48.7951H38.2736V47.1165H32.1561V48.7951Z"
      fill="#E15100"></path>
    <path
      d="M37.2316 25.1265H33.2005C32.9174 25.1265 32.6899 24.896 32.6899 24.6143C32.6899 24.3325 32.9174 24.1021 33.2005 24.1021H37.2316C37.5147 24.1021 37.7422 24.3325 37.7422 24.6143C37.7422 24.896 37.5147 25.1265 37.2316 25.1265Z"
      fill="#E15100"></path>
    <path
      d="M91.3688 49.8195H84.2303C83.9472 49.8195 83.7197 49.5891 83.7197 49.3073V46.6043C83.7197 46.3225 83.9472 46.092 84.2303 46.092H91.3688C91.652 46.092 91.8794 46.3225 91.8794 46.6043V49.3073C91.8794 49.5891 91.652 49.8195 91.3688 49.8195ZM84.7408 48.7951H90.8583V47.1165H84.7408V48.7951Z"
      fill="#E15100"></path>
    <path
      d="M89.8163 25.1265H85.7852C85.5021 25.1265 85.2747 24.896 85.2747 24.6143C85.2747 24.3325 85.5021 24.1021 85.7852 24.1021H89.8163C90.0994 24.1021 90.3269 24.3325 90.3269 24.6143C90.3269 24.896 90.0994 25.1265 89.8163 25.1265Z"
      fill="#E15100"></path>
    <path
      d="M61.5084 3.61342C61.2252 3.61342 60.9978 3.38293 60.9978 3.10121V0.512212C60.9978 0.230495 61.2252 0 61.5084 0C61.7915 0 62.0189 0.230495 62.0189 0.512212V3.10121C62.0189 3.38293 61.7915 3.61342 61.5084 3.61342Z"
      fill="#E15100"></path>
    <path
      d="M26.5913 22.9495H14.4678C14.1847 22.9495 13.9573 22.719 13.9573 22.4373C13.9573 22.1555 14.1847 21.925 14.4678 21.925H26.5913C26.8744 21.925 27.1019 22.1555 27.1019 22.4373C27.1019 22.719 26.8744 22.9495 26.5913 22.9495Z"
      fill="#E15100"></path>
    <path
      d="M29.9308 44.6278H14.4678C14.1847 44.6278 13.9573 44.3973 13.9573 44.1155C13.9573 43.8338 14.1847 43.6033 14.4678 43.6033H29.9308C30.214 43.6033 30.4414 43.8338 30.4414 44.1155C30.4414 44.3973 30.214 44.6278 29.9308 44.6278Z"
      fill="#E15100"></path>
    <path
      d="M29.2504 39.2075H8.91852C8.63539 39.2075 8.40796 38.977 8.40796 38.6953C8.40796 38.4135 8.63539 38.183 8.91852 38.183H29.2504C29.5335 38.183 29.761 38.4135 29.761 38.6953C29.761 38.977 29.5335 39.2075 29.2504 39.2075Z"
      fill="#E15100"></path>
    <path
      d="M29.2504 33.7874H0.51056C0.227431 33.7874 0 33.5569 0 33.2752C0 32.9935 0.227431 32.763 0.51056 32.763H29.2504C29.5336 32.763 29.761 32.9935 29.761 33.2752C29.761 33.5569 29.5336 33.7874 29.2504 33.7874Z"
      fill="#E15100"></path>
    <path
      d="M43.8362 32.7558H66.5909C66.5677 31.2867 66.4447 29.8362 66.2265 28.423C65.5396 28.4044 64.8155 28.3205 64.052 28.1669C60.9863 27.5429 58.6494 26.2787 56.5863 25.1635C53.625 23.5616 51.0583 22.1763 47.1316 22.954C45.1451 25.7339 43.9406 29.1075 43.8362 32.7558Z"
      fill="#E15100"></path>
    <path
      d="M47.1107 43.5543C51.049 44.3412 53.6204 42.9559 56.5863 41.3494C58.6471 40.2342 60.984 38.97 64.052 38.346C64.8155 38.19 65.5419 38.1039 66.2312 38.0852C66.4447 36.679 66.5677 35.2401 66.5909 33.7803H43.8362C43.9406 37.4147 45.1358 40.779 47.1107 43.5519V43.5543Z"
      fill="#E15100"></path>
    <path
      d="M48.0486 21.7784C51.7293 21.3756 54.3331 22.7819 57.0716 24.2626C59.1695 25.3965 61.3371 26.5699 64.2542 27.1636C64.8831 27.2917 65.4819 27.3685 66.0504 27.3941C65.1918 22.8354 63.3422 18.6981 60.6965 15.548C55.6397 15.7785 51.1328 18.151 48.0509 21.7784H48.0486Z"
      fill="#E15100"></path>
    <path
      d="M70.5594 26.0925C72.8222 24.2322 73.1563 20.9098 73.2074 19.9785C70.2021 17.3127 66.2916 15.6573 62.0029 15.5386C64.514 18.7748 66.2684 22.8888 67.0876 27.3846C68.4615 27.2915 69.6242 26.8608 70.5594 26.0901V26.0925Z"
      fill="#E15100"></path>
    <path
      d="M60.6958 50.9908C63.3484 47.8337 65.2003 43.6894 66.0544 39.1191C65.4835 39.147 64.8847 39.2215 64.2535 39.3496C61.3363 39.9433 59.1688 41.1144 57.0708 42.2506C54.3277 43.7336 51.7193 45.1422 48.0247 44.7325C51.1066 48.3762 55.625 50.7603 60.6958 50.9908Z"
      fill="#E15100"></path>
    <path
      d="M70.5548 40.4181C69.6219 39.6522 68.4615 39.2214 67.0923 39.1283C66.2754 43.6334 64.5209 47.7591 62.0029 51C66.2916 50.8812 70.2021 49.2259 73.2074 46.56C73.161 45.6613 72.8338 42.29 70.5548 40.4181Z"
      fill="#E15100"></path>
    <path
      d="M74.1516 20.8796C73.9567 22.4209 73.3161 25.1472 71.2066 26.8841C70.1228 27.7758 68.8 28.281 67.2544 28.4021C67.4679 29.8247 67.5886 31.2821 67.6095 32.7582H79.1806C79.0483 28.1437 77.1569 23.9668 74.1516 20.8819V20.8796Z"
      fill="#E15100"></path>
    <path
      d="M79.1812 33.7804H67.6101C67.5869 35.2472 67.4685 36.6954 67.2573 38.1109C68.8006 38.232 70.1234 38.7372 71.2049 39.6266C73.3237 41.3705 73.9619 44.1154 74.1522 45.6521C77.1552 42.5672 79.0466 38.3903 79.1789 33.7781L79.1812 33.7804Z"
      fill="#E15100"></path>
    <path
      d="M72.6245 22.9495C72.7475 22.5956 72.8449 22.251 72.9215 21.925H65.5579C65.6878 22.2626 65.8108 22.6049 65.9315 22.9495H72.6268H72.6245Z"
      fill="#E15100"></path>
    <path
      d="M73.9729 21.925C73.9033 22.2487 73.8151 22.5933 73.7061 22.9495H75.8783C75.6276 22.5979 75.3631 22.2557 75.0892 21.925H73.9753H73.9729Z"
      fill="#E15100"></path>
    <path
      d="M51.3553 22.9493C50.1021 22.6839 48.7445 22.6397 47.1641 22.9493H51.3553Z"
      fill="#E15100"></path>
    <path
      d="M64.8506 22.9495C64.7276 22.6049 64.5976 22.2626 64.4607 21.925H51.4553C52.5368 22.1416 53.5393 22.5071 54.5094 22.9495H64.8506Z"
      fill="#E15100"></path>
    <path
      d="M93.899 20.7796C93.885 20.7703 93.8711 20.7609 93.8549 20.7516L61.7592 2.65425C61.6037 2.56577 61.4134 2.56577 61.258 2.65425L29.1623 20.7516C29.1484 20.7609 29.1322 20.7703 29.1182 20.7796C28.6935 21.0799 28.5172 21.6271 28.6773 22.1369C28.8328 22.6282 29.2528 22.9472 29.7495 22.9472H45.8971C46.0317 22.7423 46.1709 22.542 46.3125 22.3418L46.4935 22.0857C46.5353 22.0298 46.577 21.9763 46.6188 21.9227H29.7495C29.7054 21.9227 29.6706 21.8901 29.652 21.8273C29.645 21.804 29.6149 21.6946 29.6938 21.6271L61.5086 3.68798L93.3257 21.6271C93.4046 21.6946 93.3745 21.8063 93.3675 21.8273C93.3466 21.8901 93.3141 21.9227 93.27 21.9227H76.4007C76.6536 22.2557 76.895 22.5979 77.1248 22.9472H93.27C93.7667 22.9472 94.1867 22.6282 94.3422 22.1369C94.5047 21.6247 94.326 21.0799 93.9013 20.7796H93.899Z"
      fill="#E15100"></path>
    <path
      d="M57.1665 28.3695C57.4496 28.3695 57.6771 28.139 57.6771 27.8573C57.6771 27.5756 57.4496 27.3451 57.1665 27.3451H44.8458C44.7274 27.6827 44.6183 28.0226 44.5186 28.3695H57.1688H57.1665Z"
      fill="#E15100"></path>
    <path
      d="M43.7616 27.3451H39.9927C39.7119 27.3451 39.4822 27.5756 39.4822 27.8573C39.4822 28.139 39.7096 28.3695 39.9927 28.3695H43.4553C43.5481 28.0249 43.6502 27.6827 43.7616 27.3451Z"
      fill="#E15100"></path>
    <path
      d="M52.3045 33.7803H43.8362C43.8362 33.7803 43.8362 33.785 43.8362 33.7873H52.2372C52.2604 33.7873 52.2836 33.7827 52.3045 33.7803Z"
      fill="#E15100"></path>
    <path
      d="M42.8014 33.2682C42.8014 33.0983 42.806 32.9306 42.8107 32.763H40.4459C40.1651 32.763 39.9353 32.9935 39.9353 33.2752C39.9353 33.5569 40.1627 33.7874 40.4459 33.7874H42.813C42.8084 33.6151 42.8037 33.4428 42.8037 33.2682H42.8014Z"
      fill="#E15100"></path>
    <path
      d="M51.304 39.2075C51.5871 39.2075 51.8146 38.977 51.8146 38.6953C51.8146 38.4135 51.5871 38.183 51.304 38.183H44.5205C44.6203 38.53 44.7294 38.8699 44.8501 39.2075H51.304Z"
      fill="#E15100"></path>
    <path
      d="M43.4582 38.183H40.4459C40.1651 38.183 39.9353 38.4135 39.9353 38.6953C39.9353 38.977 40.1627 39.2075 40.4459 39.2075H43.7645C43.6508 38.8699 43.551 38.5276 43.4558 38.183H43.4582Z"
      fill="#E15100"></path>
    <path
      d="M58.7981 44.1155C58.7981 43.8338 58.5707 43.6033 58.2875 43.6033H54.4189C53.4187 44.055 52.3836 44.4229 51.2581 44.6278H58.2875C58.5683 44.6278 58.7981 44.3973 58.7981 44.1155Z"
      fill="#E15100"></path>
    <path
      d="M51.1743 43.6033H47.3752C48.7886 43.8548 50.0278 43.8222 51.1743 43.6033Z"
      fill="#E15100"></path>
    <path
      d="M46.4467 44.3831C46.3979 44.3365 46.3585 44.2806 46.3306 44.2201C46.1844 44.0175 46.0429 43.8103 45.9059 43.6008H39.9927C39.7119 43.6008 39.4822 43.8313 39.4822 44.113C39.4822 44.3947 39.7096 44.6252 39.9927 44.6252H46.6323C46.572 44.5437 46.5093 44.4645 46.449 44.3831H46.4467Z"
      fill="#E15100"></path>
    <path
      d="M63.5138 48.7952C63.3026 49.1444 63.0845 49.4867 62.8594 49.8196H67.8629C68.6194 49.5262 69.3504 49.184 70.0513 48.7952H63.5161H63.5138Z"
      fill="#E15100"></path>
    <path
      d="M52.9683 48.7952C53.6668 49.184 54.3955 49.5262 55.1474 49.8196H61.6106C61.852 49.4867 62.0841 49.1444 62.3092 48.7952H52.9683Z"
      fill="#E15100"></path>
    <path
      d="M93.8875 48.7952H72.0008C71.4577 49.1654 70.8938 49.5076 70.3113 49.8196H93.8875C94.1683 49.8196 94.3981 49.5891 94.3981 49.3074C94.3981 49.0257 94.1707 48.7952 93.8875 48.7952Z"
      fill="#E15100"></path>
    <path
      d="M51.0185 48.7952H29.1295C28.8486 48.7952 28.6189 49.0257 28.6189 49.3074C28.6189 49.5891 28.8486 49.8196 29.1295 49.8196H52.7034C52.1232 49.5076 51.5616 49.1654 51.0185 48.7952Z"
      fill="#E15100"></path>
    <path
      d="M32.5437 46.5344H33.5741C33.1657 43.4682 32.7503 39.6661 32.7549 35.8734C32.7503 31.9085 33.2028 28.3206 33.7064 24.6863C33.7157 24.6141 33.7111 24.5419 33.6925 24.4744L33.2562 22.9517H37.1782L36.7419 24.4744C36.7234 24.5442 36.7164 24.6164 36.728 24.6863C37.2316 28.3183 37.6841 31.9085 37.6795 35.8734C37.6818 39.6661 37.2687 43.4705 36.8603 46.5344H37.8907C38.2968 43.4612 38.7053 39.6685 38.7006 35.8734C38.7053 31.8828 38.2574 28.2857 37.7538 24.6537L38.3479 22.5815C38.392 22.4279 38.3618 22.2602 38.2643 22.1322C38.1669 22.0041 38.016 21.9273 37.8559 21.9273H32.5762C32.4161 21.9273 32.2652 22.0018 32.1678 22.1322C32.0703 22.2602 32.0401 22.4279 32.0842 22.5815L32.6783 24.6537C32.1747 28.2857 31.7268 31.8828 31.7315 35.8734C31.7292 39.6685 32.1353 43.4612 32.5414 46.5344H32.5437Z"
      fill="#E15100"></path>
    <path
      d="M32.0703 49.3074C32.0703 49.4122 32.0982 49.5146 32.1585 49.6008C32.2537 49.7382 32.4091 49.8196 32.5762 49.8196H37.8559C38.023 49.8196 38.1785 49.7382 38.2736 49.6008C38.334 49.5123 38.3618 49.4099 38.3618 49.3074H32.0703Z"
      fill="#E15100"></path>
    <path
      d="M85.1291 46.5438H86.1595C85.751 43.4775 85.3356 39.6685 85.3379 35.8712C85.3333 31.9039 85.7858 28.3161 86.2894 24.684C86.2987 24.6118 86.2941 24.5397 86.2755 24.4721L85.8392 22.9495H89.7612L89.3249 24.4721C89.3041 24.542 89.2994 24.6142 89.311 24.684C89.8146 28.3161 90.2672 31.9062 90.2625 35.8712C90.2648 39.6662 89.8494 43.4752 89.441 46.5438H90.4714C90.8775 43.4682 91.286 39.6709 91.2836 35.8712C91.2883 31.8806 90.8404 28.2835 90.3368 24.6514L90.9309 22.5793C90.975 22.4256 90.9448 22.258 90.8473 22.1299C90.7499 22.0019 90.599 21.925 90.4389 21.925H85.1592C84.9991 21.925 84.8483 21.9996 84.7508 22.1299C84.6533 22.258 84.6231 22.4256 84.6672 22.5793L85.2614 24.6514C84.7578 28.2835 84.3099 31.8806 84.3145 35.8712C84.3099 39.6709 84.7183 43.4682 85.1267 46.5438H85.1291Z"
      fill="#E15100"></path>
    <path
      d="M84.6689 49.4285C84.6829 49.489 84.7061 49.5472 84.7432 49.6008C84.8384 49.7381 84.9938 49.8196 85.1609 49.8196H90.4406C90.6077 49.8196 90.7632 49.7381 90.8583 49.6008C90.8955 49.5472 90.9163 49.489 90.9326 49.4285H84.6689Z"
      fill="#E15100"></path>
  </svg>

  <svg
    width="124"
    height="42"
    class="letters"
    viewBox="0 0 124 42"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M2.97148 35.1607L0.446533 41.8218H1.62314L2.23813 40.2107H5.09727L5.70994 41.8218H6.89815L4.38248 35.1607H2.97381H2.97148ZM2.60945 39.2165L3.67002 36.4203L4.72363 39.2165H2.60945Z"
      fill="#002E6D"></path>
    <path
      d="M20.3842 36.0061C21.6676 36.0061 22.2733 36.488 22.4148 37.6195L22.4334 37.7779H23.6054L23.5845 37.5776C23.3988 35.8617 22.3313 34.991 20.4121 34.991C18.3072 34.991 17.0493 36.2971 17.0493 38.488C17.0493 40.6789 18.2538 41.985 20.2705 41.985C21.2707 41.985 22.0412 41.6101 22.5077 40.914V41.815H23.5752V38.3553H19.6277V39.3029H22.4172C22.192 40.4227 21.526 40.9699 20.3842 40.9699C18.9152 40.9699 18.2306 40.1806 18.2306 38.488C18.2306 36.7954 18.9152 36.0061 20.3842 36.0061Z"
      fill="#002E6D"></path>
    <path
      d="M34.394 37C34.394 35.8312 33.6258 35.1607 32.2891 35.1607H29.1816V41.8218H30.3258V39H31.9131C32.7347 39 33.0828 39.3259 33.0828 40.0896V40.667C33.0828 41.0977 33.1245 41.4446 33.2058 41.6984L33.2452 41.8241H34.3708L34.3174 41.6006C34.2571 41.3515 34.199 41.0721 34.199 40.639V39.9755C34.199 39.1816 33.8997 38.8044 33.5028 38.5949C34.0598 38.2922 34.3986 37.7078 34.3986 37.0023L34.394 37ZM33.2127 37.0675C33.2127 37.7567 32.9087 38.0524 32.1939 38.0524H30.3234V36.1595H32.2032C32.9111 36.1595 33.2127 36.4319 33.2127 37.0675Z"
      fill="#002E6D"></path>
    <path
      d="M41.7734 35.1607L39.2461 41.8218H40.425L41.04 40.2107H43.8991L44.5141 41.8218H45.7L43.1844 35.1607H41.7757H41.7734ZM41.4113 39.2165L42.4719 36.4203L43.5255 39.2165H41.4113Z"
      fill="#002E6D"></path>
    <path
      d="M51.5276 35.1607H50.7432V41.8218H51.8873V36.6717C51.9082 36.7113 51.9291 36.7486 51.9476 36.7881L54.8509 41.8241H55.6399L55.6724 41.894V41.8241H56.4475V35.163H55.3127V40.3201C55.2918 40.2805 55.2709 40.2432 55.2523 40.2083L52.3491 35.163H51.6251"
      fill="#002E6D"></path>
    <path
      d="M65.1597 34.991C63.085 34.991 61.8457 36.2971 61.8457 38.488C61.8457 40.6789 63.0548 41.985 65.1597 41.985C67.2646 41.985 68.4644 40.7114 68.4644 38.488C68.4644 36.2645 67.2275 34.991 65.1597 34.991ZM67.2832 38.488C67.2832 40.2039 66.6287 40.9699 65.1597 40.9699C63.6907 40.9699 63.0269 40.2039 63.0269 38.488C63.0269 36.7721 63.686 36.0061 65.1597 36.0061C66.6334 36.0061 67.2832 36.7721 67.2832 38.488Z"
      fill="#002E6D"></path>
    <path
      d="M74.9976 35.1607H73.8535V41.8218H78.2838V40.8253H74.9976V35.1607Z"
      fill="#002E6D"></path>
    <path
      d="M84.5792 35.1607H83.4351V41.8218H87.8653V40.8253H84.5792V35.1607Z"
      fill="#002E6D"></path>
    <path
      d="M94.1617 38.8952H97.7402V37.908H94.1617V36.1572H98.0234V35.1607H93.0176V41.8218H98.0512V40.8253H94.1617V38.8952Z"
      fill="#002E6D"></path>
    <path
      d="M108.729 37C108.729 35.8312 107.961 35.1607 106.624 35.1607H103.516V41.8218H104.66V39H106.246C107.067 39 107.415 39.3259 107.415 40.0896V40.667C107.415 41.0954 107.457 41.4423 107.538 41.6984L107.578 41.8241H108.703L108.65 41.6006C108.589 41.3515 108.531 41.0744 108.531 40.639V39.9755C108.531 39.1816 108.232 38.8044 107.835 38.5949C108.392 38.2922 108.731 37.7078 108.731 37.0023L108.729 37ZM107.547 37.0675C107.547 37.7567 107.243 38.0524 106.529 38.0524H104.658V36.1595H106.536C107.243 36.1595 107.545 36.4319 107.545 37.0675H107.547Z"
      fill="#002E6D"></path>
    <path
      d="M117.743 38.0247L116.176 37.7872C115.473 37.6754 115.382 37.2913 115.382 36.97C115.382 36.3041 115.856 35.9665 116.789 35.9665C117.784 35.9665 118.309 36.3809 118.395 37.2354L118.411 37.3984H119.532L119.518 37.2051C119.418 35.7989 118.425 34.991 116.789 34.991C114.902 34.991 114.229 36.0247 114.229 36.9909C114.229 38.0316 114.814 38.6463 115.97 38.8186L117.45 39.0444C118.274 39.1818 118.443 39.524 118.443 39.9943C118.443 40.5112 118.26 40.9885 116.933 40.9885C115.728 40.9885 115.16 40.5089 115.139 39.4798L115.134 39.3029H114.013V39.4821C114.013 41.0607 115.076 41.964 116.93 41.964C118.785 41.964 119.595 41.2656 119.595 39.8896C119.595 38.8209 119.007 38.2295 117.743 38.0247Z"
      fill="#002E6D"></path>
    <path
      d="M0.444336 3.46888H3.67943V13.0566H9.11225V15.5897H0.444336V3.46655V3.46888Z"
      fill="#002E6D"></path>
    <path
      d="M19.8147 15.5897L19.0326 13.3103H13.8551L13.0544 15.5897H9.85645L13.9804 3.46655H18.905L23.0289 15.5897H19.8124H19.8147ZM18.2157 10.8866L16.4357 5.72727L14.672 10.8866H18.2157Z"
      fill="#002E6D"></path>
    <path
      d="M29.2095 3.46875H32.4074V8.19042H37.4597V3.46875H40.6576V15.5919H37.4597V10.6886H32.4074V15.5919H29.2095V3.46875Z"
      fill="#002E6D"></path>
    <path
      d="M42.7466 13.0564H44.8724V6.00187H42.7466V3.46875H50.1961V6.00187H48.0703V13.0564H50.1961V15.5896H42.7466V13.0564Z"
      fill="#002E6D"></path>
    <path
      d="M66.8933 6.00187H63.0061V3.46875H73.9808V6.00187H70.0936V15.5896H66.8956V6.00187H66.8933Z"
      fill="#002E6D"></path>
    <path
      d="M74.6355 9.53852C74.6355 6.34883 76.3621 3.15915 81.1219 3.15915C85.8817 3.15915 87.6269 6.36746 87.6269 9.53852C87.6269 12.7096 85.9189 15.883 81.1219 15.883C76.325 15.883 74.6355 12.7841 74.6355 9.53852ZM81.1219 13.2753C83.6469 13.2753 84.2828 11.9087 84.2828 9.53852C84.2828 7.16837 83.6469 5.78307 81.1219 5.78307C78.597 5.78307 77.9773 7.13112 77.9773 9.53852C77.9773 11.9459 78.6318 13.2753 81.1219 13.2753ZM78.9056 0.151062L83.8836 1.68304L83.684 2.44903L78.3603 2.0672L78.9056 0.153391V0.151062Z"
      fill="#002E6D"></path>
    <path
      d="M100.02 15.5897H96.7847C96.6385 15.0984 96.5666 14.4046 96.5666 13.4011V12.9099C96.5666 11.7434 95.8216 11.1963 94.7866 11.1963H92.5889V15.5897H89.3538V3.46655H96.0398C98.7666 3.46655 100.092 4.87048 100.092 6.82154C100.092 8.55375 98.9825 9.7202 97.4763 10.0299C98.7295 10.3023 99.7831 10.9425 99.7831 12.7283V13.4035C99.7831 14.3883 99.8922 14.8982 100.02 15.592V15.5897ZM95.1857 8.90066C96.2951 8.90066 96.7476 8.39077 96.7476 7.35005C96.7476 6.40246 96.2742 5.9275 95.202 5.9275H92.5865V8.89833H95.1857V8.90066Z"
      fill="#002E6D"></path>
    <path
      d="M101.671 13.0564H103.797V6.00187H101.671V3.46875H109.121V6.00187H106.995V13.0564H109.121V15.5896H101.671V13.0564Z"
      fill="#002E6D"></path>
    <path
      d="M120.224 15.5897L119.442 13.3103H114.264L113.464 15.5897H110.266L114.39 3.46655H119.314L123.438 15.5897H120.222H120.224ZM118.625 10.8866L116.845 5.72727L115.081 10.8866H118.625Z"
      fill="#002E6D"></path>
    <path
      d="M0.444336 19.2078H6.52464C10.4327 19.2078 12.2243 22.0762 12.2243 25.2169C12.2243 28.3577 10.4327 31.282 6.52464 31.282H0.444336V19.2078ZM5.80057 28.7582C7.99134 28.7582 8.8941 27.5429 8.8941 25.2169C8.8941 22.891 7.97045 21.7316 5.80057 21.7316H3.62837V28.7582H5.80057Z"
      fill="#E15100"></path>
    <path
      d="M16.7153 28.7582H23.2133V31.282H13.5312V19.2078H23.1599V21.7316H16.7176V23.9644H22.6169V26.3066H16.7176V28.7582H16.7153Z"
      fill="#E15100"></path>
    <path
      d="M24.77 19.2078H27.9912V28.7582H33.4031V31.282H24.77V19.2078Z"
      fill="#E15100"></path>
    <path
      d="M39.1208 19.2078H46.1434C48.7124 19.2078 49.7823 20.5512 49.7823 22.1856C49.7823 23.9644 48.7147 24.7466 47.2666 25.054C48.7867 25.3264 49.9633 26.0155 49.9633 27.9945C49.9633 29.9735 48.5871 31.282 46.018 31.282H39.1232V19.2078H39.1208ZM45.1106 24.0924C46.141 24.0924 46.4497 23.5476 46.4497 22.8398C46.4497 22.0599 46.0691 21.6058 45.1292 21.6058H42.3072V24.0924H45.113H45.1106ZM45.2011 28.8862C46.2872 28.8862 46.6307 28.3228 46.6307 27.5429C46.6307 26.7629 46.2501 26.1808 45.1106 26.1808H42.3049V28.8862H45.2011Z"
      fill="#E15100"></path>
    <path
      d="M60.1519 31.282L59.3745 29.012H54.2155L53.4195 31.282H50.2332L54.3408 19.2078H59.2445L63.3522 31.282H60.1496H60.1519ZM58.5599 26.5976L56.7869 21.4592L55.0324 26.5976H58.5622H58.5599Z"
      fill="#E15100"></path>
    <path
      d="M68.8379 29.268C70.3766 29.268 70.9544 28.7232 70.9544 27.8874C70.9544 27.0516 70.4833 26.6884 69.5782 26.5626L66.9535 26.2716C64.7813 26.0178 63.5327 24.7839 63.5327 22.7304C63.5327 20.4603 65.2338 18.8981 68.7079 18.8981C72.4188 18.8981 73.9017 20.6768 74.0642 22.8188H70.915C70.7873 21.8573 70.0633 21.2217 68.7079 21.2217C67.478 21.2217 66.7539 21.7129 66.7539 22.5115C66.7539 23.1285 67.1159 23.5825 68.0396 23.6919L70.3394 23.9271C72.9827 24.1808 74.1756 25.4334 74.1756 27.6127C74.1756 29.9921 72.6903 31.5893 68.7822 31.5893C64.8741 31.5893 63.4422 29.5195 63.3169 27.3589H66.4104C66.5009 28.3577 67.1531 29.2657 68.8356 29.2657L68.8379 29.268Z"
      fill="#E15100"></path>
    <path
      d="M81.3979 18.9005C86.2111 18.9005 87.7868 22.0413 87.7868 24.4929C87.7868 26.7443 86.7541 28.2158 85.1992 28.9049H88.2023V31.2844H81.3979C76.5847 31.2844 74.9741 28.4346 74.9741 25.2193C74.9741 22.0041 76.5847 18.9005 81.3979 18.9005ZM81.3979 28.6698C83.9669 28.6698 84.51 27.2705 84.51 25.0936C84.51 22.9167 83.9669 21.5175 81.3979 21.5175C78.8288 21.5175 78.3044 22.8795 78.3044 25.0936C78.3044 27.3078 78.866 28.6698 81.3979 28.6698Z"
      fill="#E15100"></path>
    <path
      d="M89.2354 19.2078H92.4379V26.2716C92.4379 28.3787 93.1991 28.9584 94.8445 28.9584C96.4899 28.9584 97.2511 28.3764 97.2511 26.2716V19.2078H100.437V26.6884C100.437 29.9014 98.5554 31.573 94.8445 31.573C91.1337 31.573 89.2354 29.92 89.2354 26.6884V19.2078Z"
      fill="#E15100"></path>
    <path
      d="M105.253 28.7582H111.751V31.282H102.069V19.2078H111.698V21.7316H105.255V23.9644H111.154V26.3066H105.255V28.7582H105.253Z"
      fill="#E15100"></path>
    <path
      d="M116.383 21.7316H112.51V19.2078H123.441V21.7316H119.567V31.282H116.381V21.7316H116.383Z"
      fill="#E15100"></path>
    <path
      d="M58.5177 8.20699L56.2108 7.96951C55.2849 7.86008 54.9205 7.40375 54.9205 6.78444C54.9205 5.9812 55.6469 5.48994 56.8839 5.48994C58.2461 5.48994 58.9725 6.12788 59.1002 7.09409H62.261C62.0985 4.9428 60.6086 3.15704 56.8815 3.15704C53.3935 3.15704 51.6854 4.72395 51.6854 7.00329C51.6854 9.06378 52.9386 10.3024 55.1201 10.5585L57.7541 10.8495C58.6639 10.9776 59.135 11.378 59.135 12.1813C59.135 12.9845 58.5525 13.5666 57.0092 13.5666C55.3197 13.5666 54.6652 12.6539 54.5747 11.6528H51.4673C51.5578 13.1917 52.2819 14.6865 54.1152 15.4222C54.1617 15.3756 54.2104 15.3337 54.2684 15.3035C54.3682 15.2476 54.4819 15.2196 54.5933 15.2196C54.6606 15.2196 54.7279 15.229 54.7929 15.2499L56.9024 15.8995C56.921 15.8995 56.9372 15.8995 56.9535 15.8995C60.8778 15.8995 62.3677 14.2953 62.3677 11.9066C62.3677 9.71802 61.1679 8.46077 58.5153 8.20699H58.5177Z"
      fill="#002E6D"></path>
    <path
      d="M59.3538 18.1904L59.5533 17.429L54.594 15.9041L54.0532 17.8109L59.3538 18.1904Z"
      fill="#E15100"></path>
  </svg>
</div>
<style>
  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 226px;
    container-type: size;
  }
  .icon {
    transition: margin-left 0.5s ease-in-out, width 0.5s ease-in-out;
  }
  .letters {
    margin-top: 0.4rem;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  @container (max-height: 90px) {
    .letters {
      opacity: 0;
      display: none;
    }

    .icon {
      width: 60px;
      margin-left: 166px;
      /* transform: translateX(350%); */
    }
  }
</style>
