---
import BaseLayout from "@layouts/BaseLayout.astro";
import Headings from "@components/internal-pages/headings.astro";
import { fetchPostsInCategory } from "fetch-wordpress-api";

const projects = await fetchPostsInCategory(42);
---

<BaseLayout title="Projectes">
  <section class="g-internal-page">
    <div class="g-section-container">
      <Headings heading={`Projectes`} />
    </div>
    <div class="component-container">
      <div class="projects-desktop">
        {
          projects.map((project) =>
            project.image ? (
              <a href={`${project.slug}`}>
                <div class="image-container">
                  <img
                    class="image"
                    src={project.image.url}
                    alt={project.image.alt}
                  />
                </div>
              </a>
            ) : null,
          )
        }
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  a {
    display: block;
    background: var(--clr-secondary);
    /* width: 100%; */
  }
  .projects-desktop {
    /* padding-right: var(--padding-inline); */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-items: center;
    gap: 1rem;
    padding-bottom: var(--padding-section-big);
  }

  .image-container {
    max-width: 24.1875rem;
    max-height: 14.375rem;
    overflow: hidden;
  }
  img {
    object-fit: cover;
    object-position: top center;
    margin: auto;
  }


</style>
