---
import SocialMediaMenu from "@components/SocialMediaMenu.astro";
import BottomFooterLinks from "./BottomFooterLinks.astro";
import Copyright from "./Copyright.astro";

const { bottomFooterLinks, copyright } = Astro.props;
---

<div class="footer-main-container">
  <div class="mobile">
    <BottomFooterLinks {bottomFooterLinks} />
  </div>

  <Copyright/>

    <SocialMediaMenu />
</div>

<style>
  .footer-main-container {
    height: var(--footer-bottom-section-tablet-hg);
    align-items: center;
  }

  .mobile {
    display: flex;
    justify-content: space-around;
    width: 16rem;
  }
</style>
