---
import SocialMediaMenu from "@components/SocialMediaMenu.astro";
import CurrentYear from "./CurrentYear.svelte";

import BottomFooterLinks from "./BottomFooterLinks.astro";
const { bottomFooterLinks } = Astro.props;
---

<div class="bottom-footer-desktop">
  <div>
    <BottomFooterLinks {bottomFooterLinks} />
  </div>
  <small>
    Web Propietat del Club Bàsquet Granollers. Copyright © <CurrentYear client:visible />. All rights reserved.
</small>
  <SocialMediaMenu />
</div>

<style>
  .bottom-footer-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    small {
    font-size: 0.5625rem;
  }

  @media (width < 1025px) {
    small {
      font-size: 0.75rem;
    }
  }
</style>
