---
const { bottomFooterLinks } = Astro.props;
---

{
  bottomFooterLinks.map((link) => (
    <a class="underline-links" href={`${link.link}`}>
      {link.name}
    </a>
  ))
}

<style>
  a {
    font-size: 0.5625rem;
  }

  a:not(:last-child) {
    margin-right: 1.62rem;
  }

  @media (width < 1025px) {
      a {
    font-size: 0.75rem;;
  }
  }
</style>
