---
import SocialMediaMenu from "@components/SocialMediaMenu.astro";
import BottomFooterLinks from "./BottomFooterLinks.astro";
import Copyright from "./Copyright.astro";

import { copyright } from "src/data/footer";

const { bottomFooterLinks } = Astro.props;

---

<div class="footer-main-container">
  <div class="tablet">
    <BottomFooterLinks {bottomFooterLinks} />

    <SocialMediaMenu />
  </div>
  <div class="copyright">
    <Copyright/>
  </div>
</div>

<style>
  .footer-main-container {
    height: var(--footer-bottom-section-hg);
  }
  
  .tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .copyright {
    align-self: center;
  }
</style>
