---

---

<a
  href={`/avis-legal`}
  class="g-underline-links"
  target="_blank"
  rel="noopener noreferrer"
>
  {`Avís legal`}
</a>

<a
  href={`/politica-de-cookies`}
  class="g-underline-links"
  target="_blank"
  rel="noopener noreferrer"
>
  {`Política de cookies`}
</a>

<style>
  a {
    font-size: var(--fnt-sz-footer);
  }

  a:not(:last-child) {
    margin-right: 1.62rem;
  }

  @media (max-width: 1025px) {
    a {
      font-size: 0.75rem;
    }
  }
</style>
