---
import SocialMediaMenu from "@components/SocialMediaMenu.astro";
import { copyright } from "src/data/footer";
import BottomFooterLinks from "./BottomFooterLinks.astro";

const { bottomFooterLinks } = Astro.props;

const currentYear = new Date().getFullYear();
---

<div class="main-container">

  <div class="desktop">
    <BottomFooterLinks {bottomFooterLinks} />
    
    <SocialMediaMenu />
  </div>
  <small>
      {copyright}
    </small>
  </div>
    
<style>
  .main-container {
    height: var(--footer-bottom-section-hg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  small {
    font-size: inherit;
    align-self: center;
  }

  .bottom-footer-links {
    text-decoration: underline;
  }

  .bottom-footer-links:not(:last-child) {
    margin-right: 1.62rem;
  }

</style>