---
import SocialMediaMenu from "@components/SocialMediaMenu.astro";
import { copyright } from "src/data/footer";
import BottomFooterLinks from "./BottomFooterLinks.astro";

const { bottomFooterLinks } = Astro.props;

---

<div class="desktop">
  <div>
    <BottomFooterLinks {bottomFooterLinks} />
  </div>
  <small>
    {copyright}
  </small>
  <SocialMediaMenu />
</div>

<style>
  .desktop {
    height: var(--footer-bottom-section-hg);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .bottom-footer-links {
    text-decoration: underline;
  }

  .bottom-footer-links:not(:last-child) {
    margin-right: 1.62rem;
  }
</style>
