---
const { bottomFooterLinks } = Astro.props;
---


  {
    bottomFooterLinks.map((link) => (
      <a
        class="underline-links"
        href={`${link.link}`}
      >
        {link.name}
      </a>
    ))
  }


<style>
  a:not(:last-child) {
    margin-right: 1.62rem;
    font-size: 0.75rem;
  }
</style>
