---
import SocialMediaMenu from "@components/SocialMediaMenu.astro";

const { bottomFooterLinks } = Astro.props;

const currentYear = new Date().getFullYear();
---

<div class="main-container">

  <div class="desktop">
    {
        bottomFooterLinks.map((link) => (
          <a
            class='bottom-footer-links'
            href={`/${link.slug}`}
            target='_blank'
            rel='noopener noreferrer'
          >
            {link.name}
          </a>
        ))
      }
    
    <SocialMediaMenu />
  </div>
  <small>
      Web Propietat del Club Bàsquet Granollers. Copyright © {currentYear}
      . All rights reserved
    </small>
  </div>
    
<style>
  .main-container {
    height: var(--footer-bottom-section-hg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  small {
    font-size: inherit;
    align-self: center;
  }

  .bottom-footer-links {
    text-decoration: underline;
  }

  .bottom-footer-links:not(:last-child) {
    margin-right: 1.62rem;
  }

</style>