---
import SocialMediaMenu from "@components/SocialMediaMenu.astro";
import BottomFooterLinks from "./BottomFooterLinks.astro";
import CurrentYear from "./CurrentYear.svelte";

const { bottomFooterLinks, copyright } = Astro.props;
---


  <div class="mobile">
    <BottomFooterLinks {bottomFooterLinks} />
  </div>

  <small>
    Web Propietat del Club Bàsquet Granollers. Copyright © <CurrentYear client:visible />. All rights reserved.
</small>

  <SocialMediaMenu />


<style>

  .mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

    small {
    font-size: 0.5625rem;
  }

  @media (width < 1025px) {
    small {
      font-size: 0.75rem;
    }
  }
</style>
