---
import SocialMediaMenu from "@components/SocialMediaMenu.astro";
import BottomFooterLinks from "./BottomFooterLinks.astro";



const { bottomFooterLinks, copyright } = Astro.props;

---

<div class="main-container">

  <div class="desktop">
    <BottomFooterLinks {bottomFooterLinks}/>
  </div>
  <small>
      {copyright}
    </small>
  <SocialMediaMenu />
  </div>
    
<style>
  .main-container {
    height: var(--footer-bottom-section-tablet-hg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .desktop {
    display: flex;
    justify-content: space-around;
    width: 16rem;
}
  small {
    font-size: inherit;
    text-align: center;
    /* align-self: center; */
    text-wrap: balance;
  }

  .bottom-footer-links {
    text-decoration: underline;
  }

  .bottom-footer-links:not(:last-child) {
    margin-right: 1.62rem;
  }

</style>