---
import SocialMediaMenu from "@components/SocialMediaMenu.astro";
import BottomFooterLinks from "./BottomFooterLinks.astro";
import CurrentYear from "./CurrentYear.svelte";

const { bottomFooterLinks } = Astro.props;
---

<div class="tablet">
  <BottomFooterLinks {bottomFooterLinks} />

  <SocialMediaMenu />
</div>
<div class="copyright">
  <small>
    Web Propietat del Club Bàsquet Granollers. Copyright © <CurrentYear
      client:visible
    />. All rights reserved.
  </small>
</div>

<style>
  .tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .copyright {
    align-self: center;
  }
  small {
    font-size: 0.5625rem;
  }

  @media (max-width: 1025px) {
    small {
      font-size: 0.75rem;
    }
  }
</style>
