---
import SocialMediaMenu from "@components/SocialMediaMenu.astro";
import { copyright } from "src/data/footer";
import BottomFooterLinks from "./BottomFooterLinks.astro";

const { bottomFooterLinks } = Astro.props;

---

<div class="footer-main-container">
  <div class="tablet">
    <BottomFooterLinks {bottomFooterLinks} />

    <SocialMediaMenu />
  </div>
  <small>
    {copyright}
  </small>
</div>

<style>
  .footer-main-container {
    height: var(--footer-bottom-section-hg);
    
  }

  .tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  small {
    align-self: center;
  }
</style>
