---
import Accordion from "./Accordion.astro";
import ImportantLinksContainer from "./ImportantLinksContainer.astro";

const { topFooterLinks } = Astro.props;

const { generalLinks, fixedLinks } = topFooterLinks;

---

<div class="articles-container">
  <article class="tablet-first-article">
    <Accordion {generalLinks} />
  </article>
  <article class="tablet-second-article">
    <ImportantLinksContainer {fixedLinks} />
  </article>
</div>

<style>
  .articles-container {
    display: flex;
    justify-content: space-between;
    font-size: 0.6875rem;
    /* padding-block: 2rem; */
  }

  .tablet-first-article {
    /* margin-top: 4.85rem;
    padding-bottom: 4.85rem; */
    display: flex;
    flex-direction: column;
    gap: 2.37rem;
    width: 10rem;
  }

  .tablet-second-article {
    /* margin-top: 4.85rem;
    width: 13.7rem; */
  }
</style>
