---
import ImportantLinksContainer from "./ImportantLinksContainer.astro";

const { topFooterLinks, topFooterImportantLinks } = Astro.props;
---

{
  topFooterLinks.map((category) => (
    <article class="top-footer-articles">
      <header>
        <h5>{category.title.toUpperCase()}</h5>
      </header>

      <ul class='links-container'>
        {category.links.map((link) => (
          <li>
            <a href={link.slug}>{link.name}</a>
          </li>
        ))}
      </ul>
    </article>
  ))
}

<article>
  <ImportantLinksContainer {topFooterImportantLinks}/>
</article>
  
<style>
  article header {
    margin-bottom: 0.5rem;
  }

  .links-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
  }
</style>