---
// Import components
import ImportantLinksContainer from "./ImportantLinksContainer.astro";

const { footer } = Astro.props;
---


  {Object.entries(footer[0]).slice(0, 3).map(([key, column]) => (
    <article class="g-top-footer-articles">
      <header>
        <h5>{column.title.toUpperCase()}</h5>
      </header>
      <ul class="links-container">
        {column.values.map((link) => (
          <li>
            <a href={link.link} target={link.link.startsWith("http") ? "_blank" : undefined} rel={link.link.startsWith("http") ? "noopener noreferrer" : undefined}>
              {link.nom}
            </a>
          </li>
        ))}
      </ul>
    </article>
  ))}

  <article>
    <ImportantLinksContainer fixedLinks={footer[0][3]} />
  </article>


<style>
  .footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  h5 {
    font-weight: 500;
  }

  article header {
    margin-bottom: 0.5rem;
  }

  .links-container {
    font-size: var(--fnt-sz-footer-top);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>