---
// Import styles
import "@styles/global.css";


// Import components
import { SEO } from "astro-seo";
import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header.astro";

const { title, pageDescription } = Astro.props;

const DESCRIPTION =
  "Benvinguts i benvingudes a la web oficial del Club Bàsquet Granollers, un equip de bàsquet amb més de 90 anys d'història. El nostre equip està dedicat a promoure l'esportivitat, la comunitat i l'amor pel bàsquet. Vine al proper partit o segueix-nos a les xarxes socials per donar suport a l'esport local i ser part de la nostra família de bàsquet.";
---

<html lang="ca">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="stylesheet" href="https://use.typekit.net/elj5gax.css" />

    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title !== undefined &&
      title.toLowerCase().includes("club bàsquet granollers")
        ? `${title}`
        : title !== undefined ? `${title} | Club Bàsquet Granollers` :"Club Bàsquet Granollers"}
      canonical="https://cbgranollers.cat/"
      description={pageDescription || DESCRIPTION}
      openGraph={{
        basic: {
          title: title ? `${title}` : "Club Bàsquet Granollers",
          type: "website",
          image: `/og-image.png`,
        },
      }}
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
