---
import TopHeader from '@components/header/topHeader/TopHeader.astro'
import TopHeaderResponsive from '@components/header/topHeader/TopHeaderResponsive.astro'

import BottomHeader from '@components/header/bottomHeader/BottomHeader.astro'
import BottomHeaderResponsive from '@components/header/bottomHeader/BottomHeaderResponsive.astro'
import HeaderLineSeparator from '@components/header/HeaderLineSeparator.astro'
---

<header>
  <section class="header-top-section">
    <div class="top-header">
      <TopHeader />
    </div>
    <div class="top-header responsive">
      <TopHeaderResponsive />
    </div>
  </section>
  <section class="header-bottom-section">
    <div class="bottom-header">
      <BottomHeader />
    </div>
    <div class="bottom-header responsive">
      <BottomHeaderResponsive />
    </div>
  </section>
  <HeaderLineSeparator />
</header>

<style>
  .top-header {
    min-height: var(--top-header-hg)
  }

  .bottom-header {
    min-height: var(--bottom-header-hg);
    background-color: var(--clr-contrast);
    opacity: 0.9;
  }
  .responsive {
    display: none;
  }

   @media (width < 965px) {
    .top-header, .bottom-header {
      display: none;
    }

    .header-top-section, .header-bottom-section {
      padding-inline: var(--padding-inline-tablet);
    }
    .responsive {
      display: block;
    }
  }
</style>