---
import TopHeader from "@components/header/topHeader/TopHeader.astro";
import TopHeaderResponsive from "@components/header/topHeader/TopHeaderResponsive.astro";

import BottomHeader from "@components/header/bottomHeader/BottomHeader.astro";
import BottomHeaderResponsive from "@components/header/bottomHeader/BottomHeaderResponsive.astro";
import HeaderLineSeparator from "@components/header/HeaderLineSeparator.astro";
import { fetchPageBySlug } from "fetch-wordpress-api";
import { extractTopHeaderContent } from "@utils/helperFunctions";

const page = await fetchPageBySlug("capcalera", ["content"]);

const {
  content: { rendered: content },
} = page[0];

const topHeaderContent = extractTopHeaderContent(content);



---

<header>
  <section class="header-top-section">
    <div class="top-header">
      <TopHeader {topHeaderContent} />
    </div>
    <div class="top-header responsive top">
      <TopHeaderResponsive />
    </div>
  </section>
  <section class="header-bottom-section">
    <div class="bottom-header">
      <BottomHeader />
    </div>
    <div class="bottom-header responsive">
      <BottomHeaderResponsive />
    </div>
  </section>
  <div class="separator-line">
    <HeaderLineSeparator />
  </div>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .top-header {
    min-height: var(--top-header-hg);
    background-color: var(--clr-primary);
  }

  .bottom-header {
    min-height: var(--bottom-header-hg);
    background-color: var(--clr-contrast);
    background-color: rgba(243, 243, 243, 0.9);
    position: relative;
  }
  .responsive {
    display: none;
  }

  .separator-line {
    height: var(--header-separator-line-hg);
  }
  @media (width < 1065px) {
    .top-header,
    .bottom-header {
      display: none;
    }
    .separator-line {
      height: var(--header-separator-line-responsive-hg);
    }
    .bottom-header {
      padding-inline: var(--padding-inline-tablet);
    }
    .responsive {
      display: block;
    }
  }

  @media (width < 648px) {
    .top {
      display: none;
    }

    .bottom-header {
      padding-inline: var(--padding-inline-mobile);
    }
  }

  
</style>
