---
const { sectionTitle, textColor, backgroundColor, noHeading } = Astro.props;
---

<section class="page-section-container">
  <div class="section-container">
    {!noHeading && <h2>{sectionTitle}</h2>}
    <slot />
  </div>
</section>

<style define:vars={{ textColor, backgroundColor }}>
  .page-section-container {
    padding-block: 2rem;
    padding-left: var(--padding-inline);
    color: var(--textColor);
    background-color: var(--backgroundColor);
  }

  .section-container {
    max-width: 1400px;
    margin: 0 auto;
  }

  @media (width < 1025px) {
    .page-section-container {
      padding-left: var(--padding-inline-tablet);
    }
  }

  @media (width < 648px) {
    .page-section-container {
      padding-left: var(--padding-inline-mobile);
    }
  }
</style>
