---
//Import layouts
import BaseLayout from "./BaseLayout.astro";

//Import components
import Headings from "@components/internal-pages/headings.astro";

const { title, subHeading, heading, pageDescription } = Astro.props;
---

<BaseLayout {title} {pageDescription}>
  <section class="internal-page">
    <div class="max-width-page">
      <Headings {heading} {subHeading} />
      <slot />
    </div>
  </section>
</BaseLayout>

<style>
  .internal-page {
    background-color: var(--clr-contrast);
    color: var(--clr-primary);
    padding-block: var(--pd-y-big);
    padding-inline: var(--pd-x);
  }

  .max-width-page {
    max-width: 1206px;
    margin: 0 auto;
  }

  @media (max-width: 1025px) {
    .internal-page {
      padding-block: var(--pd-y-medium);
      padding-inline: var(--pd-x-medium);
    }
  }
  @media (max-width: 648px) {
    .internal-page {
      padding-block: var(--pd-y-small);
      padding-inline: var(--pd-x-small);
    }
  }
</style>
