---
import {divForP} from '@utils/helperFunctions'
const {post} = Astro.props

const {title, content, author, categories} = post;

---

<section class="page-container">
  <h1>{title}</h1>
  <Fragment set:html={divForP(content)}/>
</section>

<style>
 .page-container{
  display: grid;
  place-items: center;
 }
</style>
