---
// Import utils
import { getPosts } from "@utils/api";

// Import types
import { Fields } from "../types";
import type {Post} from "../types"

const posts = await getPosts([Fields.title, Fields.content], 1);
---

<h1>Astro + WordPress 🚀</h1>
{
  posts.map((post: Post) => {
    const {
      title: { rendered: title },
      content: { rendered: content },
    } = post;
    return (
      <>
        <Fragment set:html={title} />
        <Fragment set:html={content} />
      </>
    );
  })
} 

