---
// Import utils functions
import { divForP } from '@utils/helperFunctions';

const { post } = Astro.props;

const { title, content } = post;
---

<section class='page-container'>
  <h1 set:html={title} />
  <Fragment set:html={divForP(content)} />
</section>

<style>
  .page-container {
    display: grid;
    place-items: center;
  }
</style>

