---
// Import utils
import { getFromAPI } from '@utils/api';

// Import types
import { PostFields, Endpoints, CategoryFields } from '../types';
import type { Post } from '../types';

// Import Layouts
import BaseLayout from './BaseLayout.astro';

const posts = await getFromAPI(Endpoints.posts,[PostFields.title, PostFields.content], 1);
const categories = await getFromAPI(Endpoints.categories,[CategoryFields.id, CategoryFields.name, CategoryFields.slug],1);
console.log('categories', categories);


---

<BaseLayout>
  <h1>Astro + WordPress 🚀</h1>
  {
    posts.map((post: Post) => {
      const {
        title: { rendered: title },
        content: { rendered: content },
      } = post;
      return (
        <>
          <Fragment set:html={title} />
          <Fragment set:html={content} />
        </>
      );
    })
  }
</BaseLayout>

