---
//Import layouts
import InternalPageLayout from "./PageLayout.astro";

const { teamsImages, heading, title } = Astro.props;
---

<InternalPageLayout {heading} {title}>
  <div class="images-container">
    {
      Array.isArray(teamsImages) ? (
        teamsImages.map((image, i) => (
          <div class="image-container">
            <img
              src={image.url}
              alt={image.alt && image.alt}
              loading={i < 3 ? "eager" : "lazy"}
            />
          </div>
        ))
      ) : (
        <div class="image-container">
          <img
            src={teamsImages.url}
            alt={teamsImages.alt && teamsImages.alt}
            loading="eager"
          />
        </div>
      )
    }
  </div>
</InternalPageLayout>

<style>
  .images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .image-container {
    max-width: 595px;
    /* height: 18.4rem; */
    border-top-left-radius: var(--brdr-left-top-radius);
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 848px) {
    .image-container {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 415px) {
    .image-container {
      width: 100vw;
      margin-inline: calc(var(--pd-x-small) * -1);
    }
  }
</style>
