---
import { mainSponsorsBlue } from "@data/sponsors";
---

<section class="sponsors-flex-container">
  <div class="main-sponsors">
    <div class="title-container">
      <div class="line"></div>
      <p class="text">Patrocinadors principals</p>
      <div class="line"></div>
    </div>
    <!-- <p class="sponsors-title">Patrocinadors principals</p> -->
    <nav>
      <ul class="sponsors-container">
        {
          mainSponsorsBlue.map((sponsor) => (
            <li>
              <a href={sponsor.link} target="_blank" rel="noopener noreferrer">
                <img src={sponsor.logo} alt={sponsor.alt} />
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
  <div class="team-sponsors"></div>
</section>

<style>
  .sponsors-flex-container {
    height: var(--sponsors-all-hg);
    background-color: var(--clr-contrast);
    color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 4.5rem;
    gap: 4.5rem;
    /* justify-content: center; */
  }

  .main-sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 4.11rem;
  }

  .title-container {
      display: flex;
      align-items: center;
      width: var(--regular-width);
    }

    .text {
      margin: 0 10px;
    }

    .line {
      flex: 1;
      height: 1px;
      background-color: #D8D8D8;
    }

    .line:before,
    .line:after {
      content: "";
      display: block;
      /* width: 100px; */
      /* height: 1px; */
      /* border-radius: 50%; */
      background-color: #D8D8D8;
      position: relative;
      top: -5px;
    }
</style>
